[2015-11-20 14:06] aochagavia opened #1 "Link to the repo from the VS Marketplace"

[2015-11-20 14:54] saviorisdead commented on #1
Added explicit link to repo under "Building and Debuggind the Extension" section.

[2015-11-20 14:54] #1 closed

[2015-11-22 01:28] Draivin opened #4 "Licensing information"
I would be glad if you could add a licensing header to the `suggestService.ts` file. In any case, as the scope of your project is bigger than mine, and already includes all of racer capabilities, I will update my README to point to your repository.

Header example:
[code]

[2015-11-22 07:35] saviorisdead commented on #4
I've added license, thanks for reminding.

[2015-11-22 07:35] #4 closed

[2015-11-22 16:51] Draivin opened #8 "Format appends all included files on current file."
When using the format command in a file which uses `mod` to include other local files, it will append the content of all those files in the current file, along with their path.

Perhaps should let rustfmt handle overwriting for now instead of doing it yourself?

[2015-11-22 17:15] saviorisdead commented on #8
Ok, i'll look into it. Another way would be to parse rustfmt output with write-mod=diff.

[2015-11-23 08:58] #8 closed

[2015-11-23 11:21] saviorisdead opened #10 "[Feature] Integrate Cargo tasks as commands"
Integrate cargo subcommands as vscode-commands.

[2015-11-23 11:22] saviorisdead opened #11 "[Feature] Build on save"
Add support for 'Build on save'.

[2015-11-23 11:24] saviorisdead opened #12 "[Feature] Make 'formatOnSave' stable"
Replace current hackish implementation with something more reasonable.

[2015-11-23 19:02] KalitaAlexey opened #13 "Fix rustfmt use"
Try format code
[code]
On Windows it replaced with
[code]

[2015-11-23 19:14] saviorisdead commented on #13
Thanks for reporting. Is this whole file?

[2015-11-23 19:54] KalitaAlexey commented on #13
Yes.

[2015-11-24 06:54] KalitaAlexey opened #14 "Format breaks code on linux"
File contains `struct Vertex`
[main.txt](https://github.com/saviorisdead/RustyCode/files/42429/main.txt)
Try format it. `position` removed after formatting

[2015-11-24 08:41] KalitaAlexey commented on #10
I don't know is it allowed. Could I pass extra arguments to commands? That this arguments will be passed to cargo

[2015-11-24 08:49] saviorisdead commented on #10
I think we have 2 ways here. First one, simplest, is to integrate basic command such as `build`, `run`, `test` as it is. Maybe with variants, like `build --release` and such. Second way, or more like addition to first is to add entry to settings, like `"customBuild": "cargo build --some-extra-arguments"`.

[2015-11-24 08:51] #14 closed

[2015-11-24 10:31] KalitaAlexey commented on #10
I think that for each command should be configuration entry. This is good, I think.

[2015-11-24 10:53] KalitaAlexey commented on #13
It is fixed in

[2015-11-24 10:53] #13 closed

[2015-11-24 14:22] KalitaAlexey opened #16 "Cargo.toml highlight and autocompletion"
Are you going to a add support?

[2015-11-24 14:31] saviorisdead commented on #16
Not right now. There is a separate extension for [toml support](https://marketplace.visualstudio.com/items/be5invis.toml).
And i don't actually know how to integrate autocompletion to Cargo.toml. Is there any working example (for Vim, Atom, Sublime Text)?

[2015-11-25 03:46] jmquigs opened #18 "Linting using cargo rustc"
Hello,

I wanted to leave a note on linting for when somewhat gets to it :smile:   I use atom with the rust-linter package, which uses `cargo build` to do the linting.  I think a better option might be to use `cargo rustc` as described in this ticket: https://github.com/AtomLinter/linter-rust/issues/29

The problem with `cargo build` is that it does a full build.  If the program has no error, it i

[2015-11-25 19:46] danslapman opened #19 "The racer process has stopped"
Hello! I'm constantly receiving message `The racer process has stopped` every time I open *.rs file. Autocompletion is not working...

There is also an error in console:
[code]

[2015-11-26 08:36] saviorisdead commented on #19
Hi there, thanks for reporting.
Could you provide some additional information, like is your RustyCode settings? Are you sure you have correct value in `racer.Path`?
Also, please, try running racer directly from console, like this `racer complete {linenum} {charnum}`.

[2015-11-26 09:39] #16 closed

[2015-11-26 13:42] danslapman commented on #19
Here are my settings:
[code]
Checked running racer in console, completion suggestion works well.

[2015-11-26 13:59] saviorisdead commented on #19
This
`"rust.racerPath": "C:/Users/dansl/Documents/Projects/racer/target/release"`
Should be this
`"rust.racerPath": "C:/Users/dansl/Documents/Projects/racer/target/release/racer"`
racerPath is path to executable of racer

[2015-11-26 14:02] danslapman commented on #19
Changed my settings. Now I receive `The racer process has stopped` on hitting `Ctrl+Shift+Space`

[2015-11-26 14:06] danslapman commented on #19
Hmm... It seems that I'm facing this bug: https://github.com/phildawes/racer/issues/433
I tried to complete using :) Method completion now works well, thanks!

[2015-11-26 14:08] saviorisdead commented on #19
No problem :)

[2015-11-26 14:08] #19 closed

[2015-11-26 14:26] KalitaAlexey commented on #18
See cargo-check

[2015-11-26 18:19] danslapman commented on #19
Just to inform, the real problem was https://github.com/phildawes/racer/issues/434

[2015-11-27 15:50] saviorisdead opened #21 "Update `Features` section"
Add new images

[2015-11-27 21:28] crumblingstatue opened #22 "`cargo build` and friends don't do anything"
If I run `Cargo Build [Debug]` (or any other cargo command) from the command palette, it spawns the output saying `Running "cargo build":`, and nothing else happens. No CPU usage, no error message, nothing.

I'm using vscode 0.10.2 on Linux x86_64, cargo is installed using [multirust-rs](https://github.com/Diggsey/multirust-rs).

cargo is located in `~/.multirust/bin`, and is added to `PATH` insid

[2015-11-27 22:16] crumblingstatue commented on #22
If I run RustyCode in the Extension Development Host, I get this:
![](http://i.imgur.com/dXOERuf.png)

[2015-11-27 22:22] Draivin commented on #22
Apparently it can't find the cargo executable, the vscode extensions use the environment vscode was executed in, so if cargo was in that environment, it should work.

RustyCode should probably allow a cargoPath option though.

[2015-11-27 22:39] crumblingstatue commented on #22
I printed out the PATH environment variable inside the plugin, and it indeed seems to have ignored `.profile`. I'm not sure where else I can set `PATH` where vscode can pick it up.

If there is no way to let vscode know about custom additions to `PATH`, an issue should probably be filed on the vscode repository about that.

Anyway, the issue still stands that RustyCode should report an error messa

[2015-11-27 22:56] arthurprs opened #23 "Closing the `cargo run` window should kill/ask-to-kill the process"
Closing the `cargo run` window should kill/ask-to-kill the process. Right now it leaves the process running on the background and you must kill it using the terminal.

[2015-11-27 23:04] Draivin commented on #23
I don't think vscode has a listener for this, we could do as the debugger service and provide a command "terminate cargo process".

[2015-11-28 00:34] arthurprs commented on #23
If that's the case we should probably open an issue on their repo.

[2015-11-28 05:51] KalitaAlexey opened #26 "Focus must not be changed to output panel after build"
Focus changes. It is weird and uncomfortable.

[2015-11-28 08:13] crumblingstatue commented on #22
Running vscode from a terminal makes no difference.

[2015-11-28 08:43] crumblingstatue opened #27 "Provide more information about why racer has stopped"
`The racer process has stopped.` is not very helpful in determining what could have went wrong.

Showing the panic message of racer, and whatever other information available would be helpful.

[2015-11-28 08:46] crumblingstatue opened #28 "Ability to restart racer process after it has stopped"
Racer is pretty buggy, and it stops often for various reasons.

It looks like once it has stopped, it's not restarted until you restart vscode itself.

Since this happens pretty often, it's very damaging to the workflow having to restart vscode every minute or so.

Either racer should be restarted automatically when it fails, or at least a `Restart racer` command should be given to the user for ca

[2015-11-28 10:08] Arrem commented on #28
Just came here to suggest the idea myself. Automatic restarts would be perfect, since I get quite a few crashes.

[2015-11-28 11:09] crumblingstatue commented on #22
After many hours of fiddling with GNU/Linux environment variable management, I finally managed to have vscode pick up my PATH changes correctly. I'm not sure what fixed it, but it's good now.

However, I'm going to leave this issue open due to RustyCode silently ignoring a missing cargo.

[2015-11-29 09:04] EdorianDark opened #32 "RustyCode tasks should register keybindings"
RustyCode should register some common commands as key bindings like for example:
[code]
in the contributes section of package.json

[2015-11-29 15:17] zonyitoo opened #33 "The racer process has stopped"
Rustc version

[code]

I have never succeeded to start the racer process, which crashed every time when I open a `.rs` file with exactly the same error:

[code]

VSCode version: `0.10.2 (7cc0c602a2b802b09a3f56b68a1a61ee9e8f0066)`

Racer runs fine in terminal, also works fine in Atom and Sublime Text.

[2015-11-29 17:58] jaxx opened #34 "Cargo tasks - wrong folder on build"
Cargo tasks use Visual Studio Code application folder when I want to build my project. I guess when building project it must be done in project folder instead.

![capture](https://cloud.githubusercontent.com/assets/723258/11458944/8c243cb2-96d3-11e5-9937-4f5fd60976e2.PNG)

[2015-11-29 18:32] saviorisdead commented on #22
Yes, option to specify cargo path sounds like a good idea.

[2015-11-30 09:54] #27 closed

[2015-11-30 10:01] saviorisdead commented on #33
I think it's related to this -> #19
And please, make sure you've got correct paths for racer and rust-lang src/ folder in settings.

[2015-11-30 10:52] saviorisdead commented on #34
Hi there :)
Can you provide more information? Like, layout of your project's folder structure and such :)

[2015-11-30 10:53] saviorisdead commented on #28
Automatic restarts are now possible :) Thanks to @Draivin

[2015-11-30 10:53] #28 closed

[2015-11-30 10:57] saviorisdead commented on #22
Messages about missing executables implemented by @Draivin
`rust.cargoPath` is on it's way :)

[2015-11-30 10:57] #22 closed

[2015-11-30 11:00] #10 closed

[2015-11-30 12:04] jaxx commented on #34
I have very basic structure of project - structure like ```cargo --new bin``` creates. My rust projects folders is in C: root. If I open this project file main.rs in VSCode and try to compile it - it gives an error as seen on picture above.
[code]
Operating system Windows 10 64-bit.

[2015-11-30 12:14] saviorisdead commented on #34
Hmm, I think you need to open `test_project` folder in VSCode, so then `vscode.workspace.rootPath` will contain correct path. Please, try this and let me know.

[2015-11-30 15:05] jaxx commented on #34
Yup, if I open the folder instead of file, path is correct and project compiles.

[2015-11-30 15:12] saviorisdead commented on #34
Happy to help. :)

[2015-11-30 15:12] #34 closed

[2015-11-30 15:30] jaxx commented on #34
Thanks :) :+1:

[2015-11-30 17:14] jaxx opened #36 "Shortcuts for cargo tasks"
Is there a possibility to add keyboard shortcuts to cargo commands?

[2015-11-30 17:22] jaxx commented on #36
Ok, I got it already :)

[2015-11-30 17:22] #36 closed

[2015-11-30 17:27] egamma opened #37 "Rust debugging?"
Great progress on the Rust support!

I suggest to also consider implementing integrated debugging of Rust within Code.
Here are some starting points:
- https://code.visualstudio.com/docs/extensions/example-debuggers
- https://code.visualstudio.com/docs/extensionAPI/api-debugging

[2015-11-30 17:47] Draivin commented on #33
The error `statusBarEntry` is not related to racer in any way, it was a forgotten bind when passing the Status Bar Service to vscode.

As of latest version, you should be able to click 'view errors' when racer crashes, so you can see what caused the crash.

[2015-11-30 17:56] Draivin commented on #32
To whoever implements this, remember to add `"when": "editorLangId == 'rust'"` to the shortcuts.

[2015-12-01 03:26] dikaiosune opened #38 ""The racer process has stopped" with empty error output"
Just wanted to first say, really happy this exists, and if I can help I'd be glad to (although no experience with TypeScript).

I installed 0.4.4 today from the gallery, got everything configured (relevant config sections below), but when I restarted VSCode a bar appeared at the top of the screen:

`Info | The racer process has stopped. | View Error | Close`

When I click on View Error, this shows

[2015-12-01 03:38] Draivin commented on #38
Hmm, in `suggestService.ts` at line 94, you could try putting a breakpoint there and checking what the variable `error` in the scope is at that point.

[2015-12-01 03:56] dikaiosune commented on #38
Thanks for the very fast reply and the tip. I added some breakpoints there, and `stopDaemon` returns before it get's to line 94 because `racerDaemon` is null and that very first if clause is triggered. Looking through the remainder of the variables, it looks like the daemon wasn't ever instantiated. Here's the contents of `lineBuffer`:

[code]

I think maybe my racer install is out of date? Instal

[2015-12-01 04:11] dikaiosune commented on #38
OK, rebuilt racer from git and it's working now. Maybe it'd be good to include some version dependency information in the README? Or some error logging for a null `racerDaemon` instance with a suggestion to update?

Thanks again for your help.

[2015-12-01 04:14] Draivin commented on #38
Glad to be of help, I still can't understand the null `racerDaemon` though, since for it to show the error message that you reported it needs to get to the end of the `stopDaemon` function, in theory the only case when it hits the null if branch is after the daemon has already been closed once.

[2015-12-01 04:24] dikaiosune commented on #38
I see -- if it'd help it shouldn't be too much work to downgrade to the version with the problem (it's from an outdated package in the Arch User Repos). Let me know if you're interesting in pursuing and I'll switch back to try the debugging again.

[2015-12-01 04:31] Draivin commented on #38
No need to, but thanks for the offer, later I will try downloading an old version of racer so I can find a more user friendly way to report a missing daemon command.

[2015-12-01 04:32] Draivin commented on #33
It may also be related to https://github.com/saviorisdead/RustyCode/issues/38, caused by an outdated racer that does not have a `daemon` command.

[2015-12-03 02:15] jmquigs commented on #18
It seems like cargo-check just runs `cargo rustc`.  Anyway I tested `cargo rustc` with the atom linter and it works pretty well; better than `cargo build` anyway.  The full command is `cargo rustc -Zno-trans`

[2015-12-03 02:27] Draivin commented on #18
The latest version already has a "Cargo Check" command, which calls `cargo rustc -- -Zno-trans`.

[2015-12-03 05:10] jmquigs commented on #18
Cool, can probably close this then.

[2015-12-03 05:10] #18 closed

[2015-12-03 08:57] saviorisdead commented on #38
Problem with using pinned version of racer is racer project not using semver. It's 1.0 and that's it. I guess we could add `Help` section to README.md and suggest to update racer.

[2015-12-03 08:57] #38 closed

[2015-12-03 09:02] #37 closed

[2015-12-03 09:02] saviorisdead commented on #37
It is definitely in our field of view. I'll add it to roadmap. Thank you for bringing this up.

[2015-12-03 09:04] saviorisdead commented on #33
Is there any additional information about this issue? Is it resolved?

[2015-12-03 09:05] zonyitoo commented on #33
Unfortunately no. I am quite busy these days, I will try the version on master later.

[2015-12-03 09:07] saviorisdead commented on #33
Yes, update extension as well as racer binary.

[2015-12-03 11:30] Draivin commented on #23
As of version 0.5.1, RustyCode has a `Cargo: Terminate Running Task` command that stops the currently executing cargo task. Also, when you run any cargo command it will automatically terminate a previous command if it is still running.

[2015-12-04 21:49] KalitaAlexey opened #41 "Add ability to replace a path with the use"
For example I hover cursor on
`std::ops::Add`
it suggests me to replace it with use `std::ops::Add`. If I click on this menu item then at start of file creates line
`use std::ops::Add`.
I don't if it is available for current visual studio code version.

[2015-12-05 04:22] zonyitoo commented on #33
Racer version: `1e05ca6a4fb9a07a486f7d132963fe13b8788323` (the latest commit on master branch).
Build with Rust nightly: `rustc 1.6.0-nightly (9303055f3 2015-11-19)`
RustyCode is the latest version on VSC's host.
VSC version: `Version 0.10.3 (0.10.3)`

I clicked the View Error and saw nothing in the panel:

[code]

I have already set the correct path of racer in settings

[code]

[2015-12-05 07:47] saviorisdead commented on #33
`"rust.rustLangSrcPath": "/Users/zonyitoo/Projects/rust",` should be `/Users/zonyitoo/Projects/rust/src`

[2015-12-05 08:01] zonyitoo commented on #33
Alright, at least no error pops out. Thanks.
But it still buggy, hopefully this plugin can be improved.

[2015-12-05 08:01] #33 closed

[2015-12-07 16:32] KalitaAlexey commented on #26
https://github.com/Microsoft/vscode/issues/876

[2015-12-07 16:39] KalitaAlexey opened #44 "Lack of highlighting"
[code]
To restore hightlighting `<` must be changed with something or `where C: D` must be removed. I'd like to help, but I dont' know how to fix highlighting

[2015-12-07 17:09] saviorisdead commented on #44
Right now Rusty Code uses built-in highlighting, so I should open issue in VScode repo.

[2015-12-09 19:34] fuchsnj opened #45 "invalid urls on Windows"
[code]

[2015-12-10 06:09] vadimcn commented on #45
It's a Racer bug - phildawes/racer#442

[2015-12-10 06:42] Draivin commented on #45
Should probably revert #43 until then.
Or drop racer daemons and spawn a new process on every command.

[2015-12-10 08:35] saviorisdead commented on #45
Hmm, ok i'll revert #43 for now, until bug is fixed.

[2015-12-12 15:59] by90 opened #47 "couldn't suport macro?"
println! and assert!...without code complement.
what's wrong with me ？

[2015-12-14 02:47] fuchsnj opened #48 "Racer error every few minutes"
rust stable 1.5 / Windows 10

code completion seems to work, but every few minutes this error pops up. After dismissing it continues to work.
[code]

[2015-12-14 06:53] Draivin commented on #48
Do you have a way to reproduce this? that -1 column number is really strange, I can put bound checks on the command triggers, but I would like to know the cause.

[2015-12-14 13:31] fuchsnj commented on #48
I will try to get a simple case to reproduce it. So far it seems fairly random.

[2015-12-14 13:58] nikonthethird commented on #48
If I slowly type the following invalid code into Visual Studio Code, the Racer error appears:

    fn main {
        let t = "".();
    }

If it doesn't appear right away, try removing and adding the parentheses again.

This is the error I get:

[code]

[2015-12-14 18:51] henriiik opened #50 "cargo build does not parse errors on failed build"
Hello!

When i run the cargo build debug command and the build fails, the output is not parsed and the errors are not displayed and an error message is displayed instead.

Would you be interested in a pull requests that changes this behaviour?

![screen shot 2015-12-14 at 19 47 19](https://cloud.githubusercontent.com/assets/392416/11790389/ca1510d6-a29b-11e5-9a69-341ff4fa3124.png)

[2015-12-14 19:04] saviorisdead commented on #50
Hello :)
Sure, pull requests are very welcome

[2015-12-14 19:27] henriiik commented on #50
Okay!

[2015-12-15 07:50] #50 closed

[2015-12-15 10:57] henriiik commented on #48
I'm having the same problem with "," it appears if you type a comma in a line without an opening parens.

![racer2](https://cloud.githubusercontent.com/assets/392416/11808777/e9c895d8-a322-11e5-9189-d04ad00e3226.PNG)
![racer1](https://cloud.githubusercontent.com/assets/392416/11808778/e9ca1d7c-a322-11e5-8f0d-7deb9e427a4d.PNG)

[2015-12-15 11:06] saviorisdead commented on #48
I'll look into it.

[2015-12-15 11:30] saviorisdead commented on #48
New version is out, please update extension and let me know if i fixed this issue or not :)

[2015-12-15 11:32] henriiik commented on #48
The fix remove the crash for me :+1:

[2015-12-15 11:39] nikonthethird commented on #48
Yeah, it seems OK for me too :+1: Awesome!

[2015-12-15 11:46] saviorisdead commented on #47
If I understand you correctly, you have problem with autocompletion of macros. It's not bug, right now racer (tool Rusty Code using to provide autocompletion) doesn't support macros.

[2015-12-15 11:46] #47 closed

[2015-12-15 11:47] #44 closed

[2015-12-15 11:48] #23 closed

[2015-12-15 15:54] fuchsnj commented on #48
Looks like it has been fixed for me. Thanks.

[2015-12-15 15:54] #48 closed

[2015-12-16 18:30] KalitaAlexey opened #55 "How about to remove commands for different build type?"
There are commands for Debug and for Release. I want to command take type from configuration? I can implement it. Is anyone against it?

[2015-12-16 22:42] saviorisdead commented on #55
I actually think what it is convenient to have different commands for different build types. With configuration option you are limiting youself to only one active option.

[2015-12-17 00:36] KalitaAlexey commented on #55
@saviorisdead Currently we have shortcuts and build on save. You build using same build type often and sometimes build using another build type. If you want to build using another build type then it can be changed in configuration.

[2015-12-18 15:44] fuchsnj opened #56 "Racer stack overflow"
Windows 10 / Rust 1.5 Stable
[code]

[2015-12-18 15:48] Draivin commented on #56
If you can reproduce it in the command line you should open an issue on the [racer repository](https://github.com/phildawes/racer/issues).

[2015-12-18 16:03] saviorisdead commented on #55
I think we'll leave separate commands right now as it is. We could provide a command for a custom build if somebody needs that.

[2015-12-18 16:03] #55 closed

[2015-12-18 16:05] fuchsnj commented on #56
I think it might be the same cause at this issue: https://github.com/phildawes/racer/issues/354
Closing issue here since it doesn't seem related to RustyCode.

[2015-12-18 16:05] #56 closed

[2015-12-23 05:25] vadimcn commented on #45
Racer now has a [tab-delimited interface](https://github.com/phildawes/racer/pull/445) option.  Unfortunately, I hadn't figured out in time to [bump racer's version](https://github.com/phildawes/racer/pull/451) as well, but hopefully this will land soon too.

[2015-12-23 16:03] phildawes commented on #45
Hi @vadimcn. I merged the version bump. WRT rusty-code do you need me to release the racer version to crates.io or is git master ok?

[2015-12-23 16:41] Draivin commented on #45
@saviorisdead Should we support old racer versions or direct the users to install the latest version?
It should be really easy now that rust stable has the `cargo install` subcommand, perhaps it should even be included in the README.
This bug can only be fixed on the old versions by dropping the `racer daemon` command and spawning a new subprocess on every request. The alternative is leaving suppo

[2015-12-23 16:55] jeffwllms opened #57 "Cant get it to work on windows"
I have everything set up.  I set the Src path in the user settings.  Pretty sure this is right as if I change it, it errors saying racer cant find source.  I do seem to have the cargo commands.  but I cant get go-to or auto completions to work.

Any ideas, I don't seem to be getting any errors.

[2015-12-23 17:52] saviorisdead commented on #45
@Draivin Yes, I think you are right, we should update readme. I'll take care of that.

[2015-12-23 17:56] saviorisdead commented on #57
Please provide more information about your workflow. Are you editing your code as project or as single file? Also, please make sure to update `racer` to latest version via `cargo install racer`.

[2015-12-23 18:35] Draivin commented on #57
The racer crate isn't updated all that often, the correct way to install the most up to date version is `cargo install --git 'https://github.com/phildawes/racer.git'`.

[2015-12-23 18:39] jeffwllms commented on #57
I am just testing with a single file.  I have not opened a project.  I did just install racer today as part of the process of installing the extension.  I used the method Draivin mentioned to install.  cargo install racer failed for me.

[2015-12-23 18:53] saviorisdead commented on #57
Oh, autocompletion works on project-level only. So you need to open project in VSCode. I think we should update to it be more clear about that.

[2015-12-23 22:06] vadimcn commented on #45
I was thinking of leaving support for old versions as-is.  It worked okay so far, after all.

@phildawes: There's no pressing need for that, but IMO it'd be good to update the crates.io version some time, since it's still at 0.0.1.

[2015-12-24 08:53] phildawes commented on #45
Cool, thanks @vadimcn

[2015-12-30 16:57] #57 closed

[2015-12-30 16:58] saviorisdead commented on #41
I don't think it's possible right now.

[2015-12-30 16:58] #41 closed

[2015-12-30 17:24] jeffwllms commented on #57
Sorry for the late response.  Tis does seem to be what the issue was.  Just needed to have a project.

Thanks

[2015-12-30 18:39] White-Oak opened #59 "Handle whitespaces in source files' path"
I tried to enclose paths in suggestService.js with quotes to no avail.

Error output:
[code]
This error does not show up when using the extension with the same project moved to a location with no spaces.

[2015-12-31 00:59] Draivin commented on #59
This was a limitation on the last version of `racer`, the new version has support for it, but it still has not been integrated into Rusty Code.

Duplicate of #45.

[2015-12-31 01:37] #59 closed

[2015-12-31 05:27] White-Oak commented on #45
It would be better to rename issue, adressing paths in quotes, since it is not only Windows problem.

[2016-01-18 10:44] #32 closed

[2016-01-28 04:42] BusyJay opened #64 "Cargo: Test failed"
error message:

    No handler found for the command: 'rust.cargo.test'. Ensure there is an activation event defined, if you are an extension.

package.json should define `Cargo: Test Debug` and `Cargo: Test Release` instead.

[2016-01-28 06:35] KalitaAlexey commented on #64
I will see.

[2016-02-02 12:57] #64 closed

[2016-02-04 10:01] aeschli opened #66 "Help with Rust syntax highlighter improvement request"
The syntax highlighting in VSCode is driven by a text mate grammar from https://github.com/zargony/atom-language-rust/issues/68
and if I see this right also rusty-code is building on that.

Would you be interested in helping us with improving the syntax highlighting experience? We got user feed back in https://github.com/Microsoft/vscode/issues/2130 that we could use a starting point.
Maybe we can

[2016-02-06 23:39] not-omer opened #67 "Racer complete-with-snippet error: "isn't a valid value" on Windows"
I'm on Windows 8.1.
I've set up RustyCode and mostly everything works fine, except for when I try to use the autocomplete feature. When I do, I'm met with "the racer process has stopped" and the following error message:

[code]

This leads me to believe that I should try running the command after dropping the substitute_file portion, and so I do, but I'm still met with this error:

[code]

This se

[2016-02-06 23:43] not-omer commented on #67
My user settings:

[code]

My racer, rustfmt, and cargo binaries are on my PATH.

[2016-02-07 02:26] Draivin commented on #67
Duplicate of https://github.com/saviorisdead/RustyCode/issues/45, caused by old versions of racer not handling white space in file paths, the latest versions of racer support it, but it is not yet implemented on RustyCode.

@saviorisdead Would you mind if I broke backwards compatibility with old racer verions? It would make it a lot simpler to support the new features of racer.

[2016-02-07 06:58] peng1999 opened #68 "The racer process has stopped.(Again)"
Hello! I recived the infomation `The racer process has stopped.` every time when I edit Rust source file.
This is from output:
[code]
It seems that the blank space from folder name `My Web Sites` makes the mistake. Maybe it can be fixed by adding quotes?

[2016-02-07 08:16] saviorisdead commented on #67
@Draivin Go ahead, I think it's time to do it. I'll update the documentation to explicitly say that we support only latest versions of Racer.

[2016-02-07 08:19] saviorisdead commented on #68
Hi, I think it's related to #45 and #67.
Try updating racer first.

[2016-02-07 18:22] not-omer commented on #67
So would the solution be for me to update racer? As far as I understand, I have the latest version of racer installed.

[2016-02-07 22:08] Draivin commented on #67
Rusty Code did not support the somewhat recent feature of racer that allowed space in path names, as soon as #69 is merged this should be fixed.

[2016-02-08 15:47] #45 closed

[2016-02-08 15:54] saviorisdead commented on #68
Hi :)
Please, update `Rusty Code` and `racer`. It should be fixed.

[2016-02-08 15:55] saviorisdead commented on #67
Hi :)
Try to update `Rusty Code` and `racer`. It should be fixed :)

[2016-02-08 19:52] not-omer commented on #67
Uninstalling and reinstalling 'Rusty Code' fixed it. Thank you! Closed.

[2016-02-08 19:52] #67 closed

[2016-02-11 15:17] peng1999 commented on #68
Thanks! I updated `Rusty Code` and it works now.

[2016-02-11 15:17] #68 closed

[2016-02-16 13:04] KalitaAlexey commented on #11
After we have check on save and keyboard shortcut for build I think this is obsolete.

[2016-02-16 15:44] Draivin commented on #11
@KalitaAlexey unrelated, but previously you had a patch where it would automatically build examples if the open file was an example file, that made the `Build Example` commands obsolte, do you have any plans to submit that patch again?

[2016-02-16 16:47] KalitaAlexey commented on #11
@Draivin No, because it is not good to build on save. Because it can be very slow. When you want to build or run you can press shortcut.

[2016-02-18 02:43] icorderi opened #71 "Publish symbols to enable VSCode symbol-based navigation"
**VSCode** allows you to go-to/search for _symbols_ with the `@` sign.

It would be nice if this feature was available for Rust, allowing us to go directly to a method/struct definition.

I believe **racer** is capable of generating this information.

[2016-02-18 21:00] icorderi opened #72 "Fix `cargo *` commands to find .toml from the file parents instead of workspace"
When one has multiple crates opened on the workspace the **.toml** is searched from the _$workspace_ up in the path, instead of from the current opened file.

This causes workspaces that look like the following to not be able to use _Cargo_ commands:
[code]

The expected behavior from running `> cargo build` on _VSCode_ while having `crate1/src/lib.rs` as current file is to run `cargo build` on **

[2016-02-19 04:57] KalitaAlexey commented on #72
It makes sense. I will do it.

[2016-02-24 12:23] daiheitan opened #77 "Completion randomly fails on Windows"
RustyCode randomly do not popup any suggestion, while `racer` is still available in `PATH`

Currently only observed on Windows. Both `racer` and `rusty-code` the newest version.

One way to make it work again is to go to user settings, remove `racer path` config, save (Rusty code
will popup an error saying it could not find racer). Then restore the previous `racer path` config and save. Then the a

[2016-02-24 12:52] BusyJay opened #78 "Wrong version in CHANGELOG.md"
Latest version should be 0.11.0, but there are two 0.10.0 right now.

[2016-02-24 17:07] Draivin commented on #77
RustyCode should have a racer process running at all times, could you check if the racer proccess is still running the next time it fails giving a suggestion?

[2016-02-26 16:56] daiheitan commented on #77
Yes, the process is still there. But as the Memory `racer.exe` used never changed after suggestion failed, I suppose that the process just hang up.

[2016-02-26 17:09] Draivin commented on #77
Next time it stops, can you open developer tools (`Help > Toggle Developer Tools`), trigger a completion and check if any error appears?

[2016-02-27 14:18] daiheitan commented on #77
No error logged.
In fact, I found a way to trigger the problem:

- Install `iron`
- Open a rust file, input `iron::`
- Select the first suggestion, which is `AfterMiddleware`
- Continue to input `::`, now the text will be: `iron::AfterMiddleware::`
- `Backspace` until `iron::`
- now input anything and no suggestion any more

[2016-02-27 16:56] Draivin commented on #77
I tried reproducing the error but wasn't able to, I am still able to see and trigger suggestions after following the steps. I don't know how I can help you solve the problem as it is.

[2016-02-28 02:41] daiheitan commented on #77
All right....

Maybe adding something like timeout to RustyCode may work? If racer fails to give a suggestion after the timeout, RustyCode could restart the racer process.

[2016-02-28 03:25] daiheitan commented on #77
Also noticed that along with racer suggestions, normal VSCode suggestions are also not showing. Usually in vscode `0.10.8`, the editor will suggest a word if you type it the second time. (E.g, if I input `let a_word:i32 = 1; a`, the editor will suggest `a_word`, after the racer failure, this feature is also not working.

[2016-02-28 05:55] dgroch opened #81 "No handler found for the command: 'rust.cargo.build.debug'. Ensure there is an activation event defined, if you are an extension."
When I try to run Cargo build in VS Code, I get the error

[code]

Not sure where I've gone wrong?

This is my VS Code user settings file

[code]

and i've written a `Cargo.toml` file for my hello world app.

[code]

[2016-02-28 06:39] KalitaAlexey commented on #81
RustyCode extension must be loaded before use any of its commands. To load RustyCode you must open any *.rs file.

[2016-03-04 06:54] KalitaAlexey commented on #81
@dgroch I think you should close issue.

[2016-03-04 08:47] dgroch commented on #81
Sorry for the slow reply @KalitaAlexey
This didn't actually close the issue :/

Even when I run Cargo Run Debug within a `*.rs` file I get the same error.

Any other potential causes?

[2016-03-04 09:06] KalitaAlexey commented on #81
@dgroch I think you have no `cargo` in `"/Users/Dan/.cargo/bin"`.
If you write `cargo` in terminal and it is found, then you may remove
[code]

[2016-03-07 14:15] killercup opened #83 "Activating extension `saviorisdead.RustyCode` failed: spawn EACCES"
For some time now, I can't get this extension to work. It worked very well a few weeks ago, but something broke (either with racer, vscode, or my machine).

Looking at the developer tools, I see a bunch of  errors like this:

[code]

sometimes followed by:

[code]

I'm unsure what `spawn EACCES` wants to tell me.

My settings are

[code]

and vscode can definitely access both racer and the rust so

[2016-03-07 17:52] KalitaAlexey commented on #83
rust.racerPath must point to *racer* executable.

[2016-03-07 18:05] killercup commented on #83
Damn, of course I didn't try that. I'm pretty sure I moved racer (I didn't install it with `cargo install` previously) and messed this up.

The setting is kinda weirdly named, by the way. It didn't occur to me to put the trailing racer in. Maybe call it "pathToRacer" instead? But, well, it doesn't really matter. Don't make such a large breaking change just because of me.

[2016-03-07 18:05] #83 closed

[2016-03-08 16:16] Soaa- commented on #71
I just had a look at racer's source, and it seems that it's not really designed to index a codebase and its symbols. Implementing this would require either adding that functionality to racer or indexing the project source within RustyCode itself.

[2016-03-09 06:59] Emilgardis opened #88 "No stdin in Cargo output window."
Using the first [example][link] in the book of the guessing game (and therefore anything using stdin), the cargo output window does not accept any input.

==Steps to recreate==
1. `cargo new guessing_game --bin`
2. open folder in vscode and paste the [code][link] into main.rs
3. Run

[link]: http://doc.rust-lang.org/book/guessing-game.html#processing-a-guess

[2016-03-09 07:50] KalitaAlexey commented on #88
@Emilgardis VSCode does not support input into `OutputChannel`.

[2016-03-09 08:13] Emilgardis commented on #88
Fair enough, however, I'm fairly certain that there is another channel for output that supports it. Is there any interest to include that?

[2016-03-09 08:22] KalitaAlexey commented on #88
@Emilgardis Yes. Sometimes I miss that.

[2016-03-09 08:24] DerGroncki commented on #88
Yes, would be great.

[2016-03-11 22:05] kikokikok commented on #71
might be worth looking at https://github.com/RustDT/Rainicorn I think it's what you're looking for.

[2016-03-13 17:53] disportium opened #89 ""The racer process has stopped."; "didn't understand command --interface=tab-text" on Windows"
Visual Studio Code gives the following message when an empty Rust source file is opened:

"The racer process has stopped."  Clicking on View Error gives the following information:

[code]

Rusty Code settings are as follows (user settings):

[code]

Racer, rustfmt and cargo are in the PATH variable.

Rusty Code 0.11.0
Visual Studio Code 0.10.10
Racer 1.2.6
Rust 1.7
Windows 10

[2016-03-16 05:53] se77en commented on #89
Same issue to me on Mac OSX

[2016-03-16 06:22] Draivin commented on #89
That seems to be an old racer version, in both cases, the racer output format isn't even like that anymore. Be sure that your racerPath is pointing to the most recent version of racer.

[2016-03-16 16:25] disportium commented on #89
Turns out there was an old version of racer installed in C:\Program Files\racer, installed six months ago by an older cargo, I imagine, since the new racer binary is installed in C:\Users\<username>\.cargo\bin

Both paths were in the PATH variable, and the older racer binary was run.

After removing the C:\Program Files\racer path from the PATH variable everything is working fine.

Thanks for your

[2016-03-16 16:25] #89 closed

[2016-03-17 03:55] swgillespie opened #91 "Format on save chops up the file sometimes"
Before format on save:

![before_format](https://cloud.githubusercontent.com/assets/1871912/13835882/5ee9a800-ebb9-11e5-8168-5b394593841d.png)

After format:

![after_format](https://cloud.githubusercontent.com/assets/1871912/13835886/623d1910-ebb9-11e5-8a19-0bd57ef8fb96.png)

[2016-03-25 10:59] kikokikok opened #92 "Auto-Completion does not work on external Cargo dependencies others than std::"
I've been trying to use RustyCode with the auto-completion on external cargo dependencies without success. It doesn't seem to be a Racer Issue because Racer is able to resolve and auto-complete most of the external cargo deps on Emacs which is using the same mechanism.

[2016-03-26 14:05] peschkaj commented on #77
Tested this myself with:

- rust 1.7.0
- racer 1.2.6
- VS Code 0.10.11
- RustyCode 0.11

With the following limited program, auto-completion is not present, but only for Iron crates. Use of the rust stdlib works correctly.

[code]

However, racer autocomplete fails on the command line as well:

[code]
The second command should at least provide `Iron::new` - could this be an issue with racer?

[2016-03-27 20:34] Binero commented on #81
I have the same issue, even when I have a `.rs` file open. This is my settings.json:

[code]

[2016-03-27 20:57] Binero commented on #81
I managed to fix the error by closing the opened folder, and reopening it. It seems VSC doesn't launch the activation command when you install an extension, even over multiple program and system reboots.

[2016-03-31 20:39] Binero opened #93 "Use multiple threads"
To speed up the build process it'd be nice if the plugin would build using multiple threads. The amount of threads to build with could be configured in the settings, or detected automatically.

Cargo allows multi-threading using the "--jobs" parameter.

[2016-04-10 16:32] Emilgardis commented on #92
Same issue here, won't autocomplete extern crates.

[2016-04-17 12:05] egamma opened #96 "My extension doesn't run when I run it in debugger. It says "Extension did not start in 10 seconds"."
_From @KalitaAlexey on April 16, 2016 5:2_

- VSCode Version: 1.0
- OS Version: Ubuntu 14.04.3 x64

Steps to Reproduce:

1. Install VSCode for insiders. Uninstall VSCode for insiders. Install VSCode 1.0
2. Try run extension

Extension: https://github.com/saviorisdead/RustyCode

_Copied from original issue: Microsoft/vscode#5375_

[2016-04-20 11:06] BusyJay commented on #26
Just tested with VS code 1.0, it seems work as expect.

[2016-04-20 11:18] BusyJay opened #97 "Add an option to save related files before build"
Tested with VS Code 1.0, I turn on save on focus changed. In the past, it will save my file before compiling for focus has changed to output window. But now, it won't. So I think we need an option to save related files before build and compiling without saving files seems useless.

[2016-04-20 17:52] KalitaAlexey commented on #96
I have figured out how to fix that. I just purge everything related to vscode and install vscode.

[2016-04-20 17:52] KalitaAlexey commented on #96
@egamma Close it.

[2016-04-20 17:53] KalitaAlexey commented on #26
Yes. This is fixed in VSCode 1.0

[2016-04-20 17:53] #26 closed

[2016-04-20 17:57] egamma commented on #96
Closing as requested

[2016-04-20 17:57] #96 closed

[2016-04-22 15:25] kikokikok opened #98 "Is RustyCode still active or not ?"

[2016-04-22 19:58] Draivin commented on #98
It seems the owner disappeared and is not accepting any pull requests or making any changes.

[2016-04-22 21:07] KalitaAlexey commented on #98
I had chat with him. He said he was busy, but he will be back in one-two weeks.

[2016-04-22 22:10] saviorisdead commented on #98
Yeah, I am here. My offline life got in a way, but its all good now, so no worries.

[2016-04-22 22:10] #98 closed

[2016-04-22 22:29] #71 closed

[2016-04-22 22:30] saviorisdead commented on #72
Hi!
@KalitaAlexey implemented it and this feature should available in the next release.

[2016-04-22 22:30] #72 closed

[2016-04-22 22:31] saviorisdead commented on #77
I'll close this, as this is mostly racer issue.

[2016-04-22 22:31] #77 closed

[2016-04-22 22:32] saviorisdead commented on #78
Yeah, good point, I'll change that.

[2016-04-22 22:32] #78 closed

[2016-04-22 22:33] #81 closed

[2016-04-22 22:50] saviorisdead commented on #93
Yeah, good point. I'll implement it in near future.

[2016-04-22 23:58] saviorisdead commented on #91
Hi!
I've just tested it with latest VSCode, RustyCode, rustfmt and example you provided was formatted just fine. Can you check again please?

[2016-04-23 09:22] #11 closed

[2016-04-23 18:16] conikeec opened #99 "RustFmt onSave not working"
Upgraded to the new version and formatOnSave is not working as yet.
I have rustfmt installed and it does not seem to get triggered on a save action.

I applied the following settings both in user and workspace perspective and it still ain't working
Racer and RustFmt are in PATH

{
    "rust.racerPath": null, // Specifies path to Racer binary if it's not in PATH
    "rust.rustLangSrcPath": null, //

[2016-04-25 13:42] BusyJay opened #100 "Add an option to disable racer crash report"
Racer crash report is quite annoying, we may need an option to disable this report and restart it automatically after some interval.

[2016-04-25 18:35] KalitaAlexey commented on #100
We can use https://code.visualstudio.com/Docs/extensionAPI/vscode-api#StatusBarItem to set
**Racer: {Status}**, where Status = On | Off | Error.
@saviorisdead any thoughts?

[2016-04-25 21:04] icorderi commented on #72
Yea it's working on `vs 1.0.0` and `rusty 0.12.0`
Great job @KalitaAlexey!

[2016-04-25 21:07] icorderi commented on #71
@saviorisdead what's the reason for closing the issue?
Can we reach out to the **racer** folks and try to get support built for this?

[2016-04-26 00:00] saviorisdead commented on #100
Yeah, I think it's a good option.

[2016-04-26 04:30] KalitaAlexey commented on #100
I will implement it.

[2016-04-26 10:20] saviorisdead commented on #99
Hi!
Please try to explicitly specify path to `rustfmt` binary in settings and let me know if something changes.

[2016-04-26 10:24] saviorisdead commented on #92
Hi there!
Please add `racer` to your `PATH` variable and try following command:
`racer complete $LINE_NUMBER $CHAR_NUMBER $PATH_TO_FILE` and dump output here.
Sometimes it gets tricky with racer and external dependencies.
Also, by any chance, are you using something like `rustup` or `multirust`?
Then, setting `export CARGO_HOME=$HOME/.cargo` might help.

[2016-04-26 12:06] kikokikok commented on #92
That's what I was going to say. If using multirust-rs like I do we need to have the CARGO_HOME=$HOME/.cargo set.
The remaining issues are on racer.

[2016-04-26 12:06] #92 closed

[2016-04-26 13:20] RustSnippets opened #102 "Snippets from other editors"
https://github.com/zargony/atom-language-rust/blob/master/snippets/rust.cson
https://github.com/abaez/ta-rust/blob/master/snippets.lua
https://github.com/freebroccolo/rust-snippets/blob/master/rust-snippets.el
https://github.com/darookee/vim-snippets/blob/master/UltiSnips/rust.snippets
https://github.com/rust-lang/sublime-rust/tree/master/snippets

Maybe you can derive some ideas from other editor

[2016-04-27 07:57] eldyer commented on #99
Confirmed, formatOnSave doesn't seem to work, even with explicitly specified path. I'm on OS X 10.11.

[2016-04-27 17:31] conikeec commented on #99
I confirm that it does not work.

[2016-04-27 20:50] seanjensengrey opened #104 "launch racer with RUST_BACKTRACE=1"
This will enable logs like

[code]

[2016-04-28 12:22] brashaw opened #106 "Racer crashes very frequently"
Just started using RustyCode a few days ago and have only messed around with some small files.  The Racer integration is really useful but it crashes ***so*** often and then doesn't start back up.

I'm not expecting stability to be great.  But is there a way I can manually start racer back up after it crashes?  A quick `Restart Racer` hotkey would be perfect.

[2016-04-28 12:32] KalitaAlexey commented on #106
When #103 will be merged racer is going to be restarted after 1 second.

[2016-04-28 17:04] seanjensengrey commented on #106
@brashaw I find it crashes less you don't use the mouse for navigation into

* Comments/Documentation
* Strings

[2016-04-29 07:36] brashaw commented on #106
@KalitaAlexey Nice.  Hopefully it's reliable.

[2016-04-29 08:14] KalitaAlexey commented on #106
@brashaw I already using it

[2016-05-03 15:36] #100 closed

[2016-05-03 15:44] saviorisdead commented on #106
It merged, so you should try it.

[2016-05-03 15:58] brashaw commented on #106
Works really good.  And no more errors every time it crashes, nice!

[2016-05-03 15:58] #106 closed

[2016-05-03 18:04] peschkaj opened #109 "Racer crashes while editor is in the background"
I have VS Code open in the background. While working in other applications, the racer process sporadically crashes with the following error message:
[code]

The line it's crashing on is: `let mut a_identifier: [u8; 6] = [0 as u8; 6];`

Does this belong here or in the racer repository?

[2016-05-03 18:06] KalitaAlexey commented on #109
I don't know. Let me see.

[2016-05-03 18:08] KalitaAlexey commented on #109
I have **racer 1.2.9**.
For code

[2016-05-03 18:11] Draivin commented on #109
@peschkaj  If you run the racer command shown there manually, does it crash?

`find-definition 42  78  d:\src\peschkaj\flaker\src\lib.rs`

[2016-05-03 18:12] peschkaj commented on #109
It sure does! I'll file a racer bug.

[2016-05-03 18:25] KalitaAlexey commented on #109
@peschkaj What version of racer do you use?

[2016-05-03 18:25] saviorisdead commented on #109
@peschkaj could you link here racer issue you created?

[2016-05-03 18:42] peschkaj commented on #109
@saviorisdead updated my original comment above.

[2016-05-03 23:22] conikeec opened #112 "RustFmt onSave not working in 0.14.0"
Based on changelog i noticed that you folks addressed this issue.
I noticed that rustfmt or rustfmtonsave still does not work.

My config settings is as follows

Am I missing anything?

// Place your settings in this file to overwrite the default settings
{
    "rust.racerPath": "Users/XXX/.cargo/bin/racer", // Specifies path to Racer binary if it's not in PATH
    "rust.rustLangSrcPath": "/Users/

[2016-05-04 03:27] Draivin commented on #112
When you run `Format Code` does anything happen? If you run `rustfmt --version` what does it say? And if you run `Users/XXX/.cargo/bin/rustfmt --version`?

[2016-05-04 06:33] fulmicoton opened #114 "Null is not a valid value according to the configuration for many parameters"
... Even though it is actually the default.

In recent version of Vs Code it triggers a warning in the status bar.
The issue is basically the same as what is reported [here (https://github.com/Microsoft/vscode/issues/2856).

[2016-05-04 07:17] Draivin commented on #114
Hmm, why did you close the pull request?

[2016-05-04 08:38] fulmicoton commented on #114
The PR is invalid. ["string", null] should be ["string", "null"] in all of the lines.

[2016-05-04 08:39] saviorisdead commented on #114
Well, you can update your PR then :)

[2016-05-04 08:41] fulmicoton commented on #114
sure

[2016-05-04 13:14] conikeec commented on #112
When I run the format code extension, I receive the following errors
"Cannot format due to syntax errors"

0.4.1

/Users/chetanconikee/.cargo/bin/rustfmt

0.4.1

[2016-05-04 14:01] Draivin commented on #112
Does the error happen on any file? Even a file containing only a simple main?

If so the problem probably is something OS specific.

[2016-05-04 16:18] conikeec commented on #112
I am on OSX, El Capitan 10.11.4 (15E65).
I even tried a clean install (by nuking .code, user setting and finally reinstalling)

The error still persists.

[2016-05-04 16:19] conikeec commented on #91
Which OS are you using?

[2016-05-04 16:22] junjieliang commented on #112
This is what I found. I'm on OSX 10.11.3.

The `Format Code` command runs the following command:
[code]

But according to http://unix.stackexchange.com/questions/144514/add-arguments-to-bash-c the correct command needs to be:
[code]

Unfortunately, now I get an error `error: couldn't read "/project/src/main.rs.fmt": No such file or directory (os error 2)`. What is this `.fmt` file that's supposed

[2016-05-04 16:31] Draivin commented on #112
Thanks, that will probably help fixing it, but not having an OSX machine to test it on still makes it pretty inconvenient.

The `.fmt` file is a temporary file created to work around vscode limitations, we create it and run `rustfmt` on it so we can avoid saving a potentially dirty buffer on normal executions of `Format Code`, as soon as `rustfmt` finishes running we read its contents and the file

[2016-05-04 20:38] #114 closed

[2016-05-05 05:09] Draivin commented on #112
@junjieliang @conikeec could you test if the issue is fixed on latest release?

[2016-05-05 10:41] BusyJay opened #118 "Unexpected undefined directory"
Hi, after upgrade rustycode to 0.14.2, it always create a directory called `undefined` in my project root, and use it as if it was `$HOME/.cargo`. I guess there must be something going wrong here since the directory name is `undefined`. And I really want rustycode to just use `$HOME/.cargo`.

[2016-05-05 10:43] saviorisdead commented on #118
I see. Can you set `cargoHomePath` explicitly in settings for now and see if something changes?

[2016-05-05 11:20] Draivin commented on #118
@saviorisdead I think if you change [this line] (https://github.com/saviorisdead/RustyCode/blob/2204727bac65a966ebf38455f8fcea693b8da77e/src/services/pathService.ts#L26) to
[code]
it will probably fix it.

Also, I believe it would be better to change [this line](https://github.com/saviorisdead/RustyCode/blob/2204727bac65a966ebf38455f8fcea693b8da77e/src/services/suggestService.ts#L110) to
[code]
So

[2016-05-05 11:36] BusyJay commented on #118
@saviorisdead, Yes, set `cargoHomePath` fixed it.

[2016-05-05 11:38] saviorisdead commented on #118
I've updated path resolution for `CARGO_HOME` as @Draivin suggested, so also you could try leaving `cargoHomePath` null and see if it helped.

[2016-05-05 11:42] BusyJay commented on #118
Just upgrade to 0.14.3, it works just fine without setting cargoHomePath.

[2016-05-05 11:43] saviorisdead commented on #118
Awesome. So it fixed, thanks to you guys, @BusyJay, @Draivin. I'm closing this.

[2016-05-05 11:43] #118 closed

[2016-05-05 11:49] saviorisdead commented on #99
I'm closing this as conversation moved to #112.

[2016-05-05 11:49] #99 closed

[2016-05-05 19:05] CryZe commented on #102
I ported Sublime Rust's Snippets:
https://glot.io/snippets/eeejrplb7t

Some of them are commented out because for some reason they were already available? Not sure if RustyCode already added them or VSCode itself.

[2016-05-05 19:08] junjieliang commented on #112
There are a few things happening here...

1) The original issue is fixed (I'm on RustyCode 0.14.3) - thanks for the prompt patches!

2) There's another issue where `rustfmt` would panic if stdout is not a "real" stdout. I've opened an issue on `rustfmt`: https://github.com/rust-lang-nursery/rustfmt/issues/978, but meanwhile I built a custom binary that removed colored output entirely, to get aroun

[2016-05-05 19:47] saviorisdead commented on #102
Awesome, thanks, I'll take a look at this. Thank you!

[2016-05-06 21:01] Draivin commented on #112
Cannot repro on Windows with rustfmt 0.4.1.

Just curious, but when you run `rustfmt --skip-children --write-mode=diff filename` on the command line, does the line break symbols show up? The current line break behavior is based on them.

Example:
![image](https://cloud.githubusercontent.com/assets/947593/15086070/8c43ddd4-13b4-11e6-8cdf-4d010bf2c749.png)

[2016-05-06 23:04] junjieliang commented on #112
I managed to find the bug! It was a problem in `rustfmt` when I tried getting around the panic problem.

I think the onSave functionality is working fine for me now. Thanks for your help!

[2016-05-07 01:35] CryZe commented on #102
I added a lot more Snippets. All std macros and a lot of useful attributes:
https://glot.io/snippets/eefy6k24r2

[2016-05-07 10:05] Draivin commented on #112
Glad to help, @saviorisdead I think you can close this now.

[2016-05-07 10:05] saviorisdead commented on #112
Yeah, sure.

[2016-05-07 14:05] Binero opened #119 "Cannot format due to syntax errors"
When running `>Format` in a rust file, VSC always gives me `Cannot format due to syntax errors`. I have my rustfmt path configured correctly. I set it to `/home/myusername/.cargo/bin/rustfmt`.

How to fix?

[2016-05-08 10:42] JohanSJA commented on #119
Most of the time, I am getting this when my source code has some invalid syntax. It will run fine once I corrected the source code.

Maybe refer to this:
- https://github.com/rust-lang-nursery/rustfmt (`Running` section)
- https://github.com/saviorisdead/RustyCode/blob/master/src/services/formatService.ts#L101

Perhaps we can do is returning more useful error. Not sure how that would be done thoug

[2016-05-08 10:56] Binero commented on #119
My code does not have any errors as it compiles fine. Running `rustfmt` manually outside VSC also works flawlessly.

[2016-05-08 12:50] CryZe opened #121 "Check even though formatting failed"
If you enable format on save, it'll try to format your code every time you save. But if formatting fails, it doesn't check your code for syntax errors anymore, which is bad, cause then you don't know where your mistakes are (if they aren't super trivial). So this should be fixed in my opinion.

Also on a side note: Having it pop up every time it can't format your code is fairly annoying, cause you

[2016-05-09 04:01] ctaggart opened #122 "docker image with RustyCode"
I created a rust-vscode docker image with this extension preinstalled. I think it is a really easy way to try out Rust and RustyCode. Happy to receive feedback or suggestions. I put together a 10 minute video and will work on the blog post about it this week.

https://twitter.com/cmr0n/status/729508355144716288
https://github.com/ctaggart/rusty-vscode

[2016-05-09 08:36] saviorisdead commented on #122
I really like the idea, to give easy option to try out RustyCode :) Good job!

[2016-05-09 20:23] icorderi opened #123 "Make RustyCode aware of examples"
If you are editing an _example_ (`./examples/*.rs`) and call **build/check**, the crate gets built/check'ed instead of the example.

The current workaround to get compilation errors/warnings on examples is to **test** the crate.

Calling `cargo build --example <name>` (without the "rs" extension) when doing a check/build when an example is the current active window might be a more desirable defaul

[2016-05-10 04:39] KalitaAlexey commented on #123
@icorderi I did this, but this wasn't merged. I will do this again.

[2016-05-10 16:42] icorderi commented on #123
Cool, thanks @KalitaAlexey

[2016-05-10 16:50] KalitaAlexey commented on #123
I am going to do this on thursday. If someone has time then check https://github.com/saviorisdead/RustyCode/pull/54

[2016-05-12 07:31] Minoost opened #124 "Double brace on format"
![animation](https://cloud.githubusercontent.com/assets/1381835/15206925/924f4f1c-185d-11e6-8b38-f669cabe0906.gif)

Notes:
- I feel this issue is somewhat similar to https://github.com/saviorisdead/RustyCode/issues/91
- Using ```rustfmt main.rs``` on command prompt works without a problem
- OS: ```Windows 10```
- VS Code: ```1.1.0```
- RustyCode: ```0.14.3```

[2016-05-13 07:13] aka-demik commented on #37
[Native debug](https://marketplace.visualstudio.com/items?itemName=webfreak.debug) extension can debug with GDB and LLDB.
I think it will be able to debug and rust-application.

[2016-05-13 07:55] CryZe commented on #37
Yeah, this extension works perfectly fine with Rust (even with pretty formatting).

[2016-05-15 05:35] conikeec commented on #112
Seems like no one paid any attention to the error that I called out above.
@junjieliang digressed this thread and everything from there is now lost in translation.

The issue for me is still not resolved and here another issue filed with similar traits
https://github.com/saviorisdead/RustyCode/issues/119

[2016-05-15 05:36] conikeec commented on #119
I am still encountering the same issue and filed two requests with no resolution recommended.

Refer : https://github.com/saviorisdead/RustyCode/issues/112

[2016-05-15 16:11] LaurentTreguier commented on #119
I'm having the exact same issue with VSCode 1.1.0, RustyCode 0.14.3 and rustfmt 0.5.0. Even a simple Hello world program produces the warning.

[2016-05-16 08:04] #119 closed

[2016-05-16 08:24] saviorisdead commented on #112
@conikeec I am sorry if it would seems that no one noticed your bug reports. They are just very tricky for some reason.
New fix just landed, please try updating `rustfmt` to `0.5` and `RustyCode` to `0.14.4` and let me know if issues resolved.

[2016-05-16 08:26] #12 closed

[2016-05-16 15:22] Frederick888 commented on #124
Same here with RustyCode `0.14.4`
![snapshot8](https://cloud.githubusercontent.com/assets/4507647/15293939/8be1998c-1bcd-11e6-94ba-b0417f2a1b74.png)

Things get even worse if you try to format:

    fn main() {
        println!("Hello, world!");}

it will become

    fn main() {
        println!("Hello, world!");
    }    println!("Hello, world!");}

[2016-05-17 05:03] henriiik commented on #124
if you update cscode to 1.1.1 this should be ficed. :)

original bug: https://github.com/Microsoft/vscode/issues/6281

[2016-05-17 05:16] Frederick888 commented on #124
Yeah, it's okay now. Thanks for your quick reply.

[2016-05-17 05:45] conikeec commented on #112
Thank you very much for the fix @saviorisdead . Works perfectly.

Thanks again

[2016-05-17 05:45] #112 closed

[2016-05-17 05:47] conikeec commented on #119
@saviorisdead just put a fix. Refer https://github.com/saviorisdead/RustyCode/issues/112
@Binero please upgrade.
Works like a charm

[2016-05-17 06:08] Minoost commented on #124
It works now! :D

[2016-05-17 06:08] #124 closed

[2016-05-17 12:40] sbwtw opened #126 "how to terminate running process"
im using Cargo: run to start a process, but Cargo: Terminate Running Task not work

and how to change shortcut key for this command? i want to change the shortcut of Cargo: run to ctrl+r.

[2016-05-17 18:07] LaurentTreguier commented on #119
Though it did some weird bracket duplicating at first, probably after restarting VSCode I can confirm it now works perfectly.

[2016-05-19 21:13] nlordell opened #128 "Format code is not looking at $PATH for `rustfmt`"
[code]

Yet I still get the 'The "rustfmt" command is not available. Make sure it is installed.' message. Also noteworthy that executing something like the following in developer tools console works as expected:

[code]

Mac OS X 10.11.4
VSCode 1.1.1
RustyCode 0.14.5

[2016-05-19 21:26] nlordell commented on #128
Looks like the "env" being passed to child process needs to have PATH set as well (line 95 src/services/formatService.ts)

[2016-05-20 02:46] zummenix opened #130 "Support for RUST_NEW_ERROR_FORMAT=true"

[2016-05-20 18:40] vhbit opened #131 "Support "Cargo: Check" on projects with multiple targets"
Right now if the project has multiple targets there is an error:

[code]

It would be great to have a way to configure a "default" target for checking through workspace configuration.

[2016-05-22 14:01] vasily-kirichenko opened #132 "warning: the option `Z` is is unstable and should only be used on the nightly compiler"
Rust stable 1.8.0 shows the following warning:
[code]

[2016-05-23 01:39] doxxx opened #133 "Suppress auto-closing of ' when typing lifetime signature"
When I'm typing a lifetime signature, for example:

[code]

As I type the `'` in the struct declaration (both places), a closing `'` is automatically inserted, which I have to delete. It would be nice if this behaviour could be suppressed.

[2016-05-23 08:47] zummenix commented on #133
Related vscode issue: https://github.com/Microsoft/vscode/issues/6295
and PR: https://github.com/Microsoft/vscode/pull/6377

[2016-05-23 14:22] doxxx opened #134 "rust.checkWith setting is ignored"
No matter what value I set for the `rust.checkWith` setting in my user settings.json, executing the `Cargo: Check` command always runs `rustc`.

[2016-05-23 19:05] donaldpipowitch opened #135 "Racer Error: error: The argument '--interface' isn't valid"
I followed the setup steps from the `README.md`. I use VS Code v1.1.1, rustc 1.8.0 and racer v1.0.0.

I can use Racer on the command line:

[code]

However I get a "Racer crashed" error in VS Code with RustyCode:

[code]

Any idea what is wrong?

[2016-05-23 20:06] donaldpipowitch commented on #135
It must be [this line](https://github.com/saviorisdead/RustyCode/blob/c95ce647235147e69a5635b586da8af0406d9596/src/services/suggestService.ts#L114). If I use `--interface` in the CLI I get the same error:

[code]

[2016-05-23 20:16] #135 closed

[2016-05-23 20:18] donaldpipowitch commented on #135
My Racer version was old. I don't know why - I thought I made a fresh installation. Anyway... Racer 1.2.9 works.

[2016-05-23 20:38] CryZe commented on #102
I did a Pull Request on the VS Code Repo itself and they are not sure if they should accept them or actually even delete the ones that they already have so that RustyCode can just do all of them. So maybe you should join the discussion @saviorisdead https://github.com/Microsoft/vscode/pull/6430#issuecomment-221087049

[2016-05-23 20:43] saviorisdead commented on #102
I think you should move that PR here, so we can discuss it. I'm personally for it, but other people may have different opinions on that matter.

[2016-05-23 20:44] CryZe commented on #102
I'm not sure how to add it to the plugin though, as I'm unfamiliar with plugin development for VS Code. Doing the PR for VS Code itself was easy as I just needed to locate the existing Snippets.

[2016-05-23 20:48] saviorisdead commented on #102
I think this links can help you get started:
1) Official docs - [https://code.visualstudio.com/Docs/customization/userdefinedsnippets](https://code.visualstudio.com/Docs/customization/userdefinedsnippets)
2) And example from Go extension - [https://github.com/Microsoft/vscode-go/tree/master/snippets](https://github.com/Microsoft/vscode-go/tree/master/snippets)
[https://github.com/Microsoft/vscode-

[2016-05-23 20:49] CryZe commented on #102
Thanks, I'll create a PR here then :)

[2016-05-23 20:55] saviorisdead commented on #128
I've merged the PR, so you can check if it fixed for you.

[2016-05-23 23:27] doxxx opened #136 "Completion of std library breaks with nickel dependency"
Using a `cargo`-created project dir, if I add a dependency on the [nickel](http://nickel.rs) library and execute `cargo build`, I can no longer get completions for the `std` namespace. i.e. type `use std::` and pressing Ctrl-Space doesn't popup modules in the `std` namespace. Completions for modules within the project still, as well as completions for the `nickel` library.

Cargo.toml:

[code]

ma

[2016-05-24 08:01] vasily-kirichenko opened #137 "Symbol highlighting does not work properly"
![image](https://cloud.githubusercontent.com/assets/873919/15496590/c13d5e00-219e-11e6-94d2-ae8ebe04fb1c.png)

[2016-05-24 08:51] nlordell commented on #128
fixed

[2016-05-24 08:51] #128 closed

[2016-05-24 12:19] donaldpipowitch opened #138 "Clarify TOML support"
After installing RustyCode my VS Code assumed that every `.toml` file would be Rust code (probably because of [this line](https://github.com/saviorisdead/RustyCode/blob/d110c60abd1efce1b8c62ca9088e7bd99a374061/package.json#L37)). I use `"rust.formatOnSave": true` and got an error, because `.toml` files can't be formatted with `rustfmt`. I installed https://marketplace.visualstudio.com/items?itemNa

[2016-05-24 18:23] KalitaAlexey commented on #138
@donaldpipowitch I added it because it allows to build project when chosen Cargo.toml

[2016-05-25 04:49] Draivin commented on #136
Can you try getting completion information through the racer command line interface? If you are not able to, this is a racer issue.

[2016-05-25 04:51] Draivin commented on #138
Should probably add a format check for the providers.

[2016-05-25 12:13] doxxx commented on #136
I'm actually experiencing this issue with a different set of dependencies as well:

[code]

Executing `racer complete std::` in the project directory produces 54 matches.

If I try `racer complete 12 10 src/main.rs` where line 12 (1-based) contains the text `use std::`, I get the follow output:

[code]

If I delete that incomplete line and try `race complete 10 10 src/main.rs` where line 10  conta

[2016-05-25 12:17] doxxx commented on #136
If I delete the `Cargo.lock` file, I get fewer of those ERROR lines -- 5 instead of ~80.

[2016-05-25 12:22] doxxx commented on #136
I also just noticed that the source in `/usr/local/src/rust` was from v1.1.0. I replaced it with v1.8.0 but I'm still getting the same problem and same output fro racer (with exception that the `core` module is now `__core`).

[2016-05-25 12:26] doxxx commented on #136
If I remove all the dependencies from `Cargo.toml`, delete `Cargo.lock` and execute `cargo build` to re-generate the lock file, the same `racer complete` execution no longer includes any ERROR lines in its output.

[2016-05-25 18:45] CanisLupus commented on #132
I can confirm that it happens for me too in 1.8.0 (not sure about older versions). Can we disable this specific warning without resorting to the nightly compiler?

[2016-05-27 17:12] johnjelinek opened #139 "cargo build stopped working"
I used `rustup` to install rust 1.10 nightly. Now when I build:
<img width="857" alt="default_settings_-_my_project" src="https://cloud.githubusercontent.com/assets/873610/15615457/31196aa4-2404-11e6-864b-dc30be2a91d8.png">
[code]

[2016-05-28 00:53] poidl commented on #71
It would be great to have this feature. In Atom there is a package which uses ctags (symbols-tree-view -- it's not great for Rust, but much better than nothing). Don't know if that works in vscode?

[2016-05-29 04:02] sorear opened #140 "Wrong comment leader for .toml"
If I use Control-/ in a toml file, vscode inserts a `//` leader, which is a syntax error; I think it should be `#`.

[2016-06-02 06:53] hannni opened #141 "Make installation easier for the required binaries."
Currently to get RustyCode fully up and running you additionally need to:

1. Install rust.
2. `cargo install racer` and `cargo install rustfmt`.
3. Add `.cargo/bin` (or corresponding on your machine) to `PATH`.
4. Download the rust source to some location and set `"rust.rustLangSrcPath"`.

I think each step could be streamlined a bit, right now it's easy to get one step wrong.

1. Because there a

[2016-06-02 07:40] KalitaAlexey commented on #141
@hannni It violates KISS and "Make one thing, but make it great" principles. VSCode is editor.

[2016-06-02 08:56] CryZe commented on #141
The Go plugin automatically downloads everything too. And how does it violate KISS? It's super simple for the user if he doesn't need to manually configure everything.

[2016-06-02 10:30] KalitaAlexey commented on #141
You may not have rustc installed, but have VSCode.

[2016-06-03 17:46] waynenilsen commented on #36
For anyone else that finds this in the future, use `ctrl+shift+p` then type cargo

[2016-06-03 18:22] waynenilsen opened #142 "Links and console colors on cargo build with warnings"
There are no clickable links in the output window of my cargo build output. Not sure why, looks like the regex is [here](https://github.com/saviorisdead/RustyCode/blob/master/src/services/commandService.ts#L8) but doesn't quite work as expected.

![image](https://cloud.githubusercontent.com/assets/3612857/15788566/241d899c-2996-11e6-9822-f20696a3c0cb.png)

Build initiated with the `control-shift-B

[2016-06-04 01:37] wycats commented on #141
I don't understand what this means. Surely "keep it simple stupid" should mean that things more or less "just work". Asking every user of VSCode to perform a dozen steps just to get their editor working strikes me as neither "simple" nor "easy".

[2016-06-05 04:04] conikeec opened #143 "Debug adapter process has terminated unexpectedly"
Installed GDB, VSCode and https://github.com/WebFreak001/code-debug and not able to get this to work (refer attached screen shot)

I have created an issue with https://github.com/WebFreak001/code-debug/issues/59 as well.

There are nothing being printed in stdout. Can you please point me to any crash logs generated as I am not able to find any.

<img width="1068" alt="screen shot 2016-06-04 at 9 0

[2016-06-05 05:45] conikeec commented on #143
Extracted logs via Developer tools in vscode . Hope this can help

[146510492998.txt](https://github.com/saviorisdead/RustyCode/files/299203/146510492998.txt)

[2016-06-05 05:57] conikeec commented on #143
Identified the issue. The root cause was .gdbinit (module to enable rust pretty printing)

[code]

On removing .gdbinit the issue was resolved ...

[2016-06-05 05:57] #143 closed

[2016-06-05 08:19] conikeec commented on #143
Closed this issue : Refer https://github.com/WebFreak001/code-debug/issues/59

[2016-06-07 10:28] zummenix commented on #133
Starting from vscode 1.2.0 "Suppress auto-closing of ' for rust" works. I think the issue can be closed.

[2016-06-08 11:01] llogiq opened #145 "Feature Request: cargo clippy Subcommand"
I'd like to use cargo clippy with RustyCode. Now that it can be easily installed, we should be able to call it from VSCode with the same ergonomics as `cargo check` (provided the user has a nightly and clippy installed).

[2016-06-09 11:56] aka-demik commented on #71
:+1: It would be great to have this feature. Reopen plz.

[2016-06-09 11:57] jonathandturner opened #146 "Possible Rust error format updates and IDE support"
Hi all,

Sorry for using the issue as a message box, but I wanted to let you know that we're working on an RFC that updates the error messages output format: https://github.com/rust-lang/rfcs/pull/1644  If RustyCode is currently parsing the output from the compiler may be impacted.

That said, we're also talking about standardizing a JSON format to help give IDEs more information from compiler out

[2016-06-17 12:31] steveklabnik commented on #141
Yeah, a lot of people come into `#rust-beginners` and ask about IDEs. I try to point them to RustyCode, but this kind of setup stuff is a big pain. Making it easier for new users would be awesome.

[2016-06-19 01:40] doxxx commented on #133
Thanks, this is working nicely with the new version.

[2016-06-19 01:40] #133 closed

[2016-06-23 08:20] irobert91 commented on #119
I'm still having this issue in VSCode 1.2.1 with Rusty Code 0.14.6 on Ubuntu 14.04

[2016-06-26 10:03] saviorisdead commented on #146
Hello!
Idea of standardizing a JSON format of errors sounds really good to me, because now we rely on some not so robust plain text parsing and changes in error format will of course have impact on `RustyCode`.

As I see it, some simple JSON would be more convenient, for example something like this:
[code]

But maybe other guys have other ideas.

[2016-06-26 10:07] tomgar opened #147 "No handler found for the command: 'rust.cargo.build.debug'. An extension might be missing an activation event."
The message in the subject happens with every cargo command from the command palette.

I made a cargo project and opened the folder and the main.rs file, yet it doesn't work. In my user settings I only added the path for the rustLangSrcPath key, since the rest of keys can be found in the PATH env var.

[2016-06-26 10:10] Draivin commented on #146
Rustc does have support for emitting json logs, and it is really easy to use, my only issue with it is that we can't get the usual log along with it, so our output window won't show the same stuff it would if we were building on the terminal.

[2016-06-28 02:03] mooman219 opened #148 "RustFMT runs on non .rs files and fails."
While formatting on save is enabled, rustfmt runs on non .rs/.rlib files, failing. This produces an annoying error dropdown.

There should be a whitelist for file types that auto formatting applies to.

[2016-06-29 22:34] tomgar commented on #147
Silly me, I thought I had racer in my PATH variable so I didn't configure it... After adding it to the PATH env, the extension started working nice. It's unfortunate though that the extension says that Racer is ON in the VS Code status bar when I didn't have racer in the PATH env. Closing the issue.

[2016-06-29 22:34] #147 closed

[2016-07-07 22:56] CryZe opened #150 "Tooltip Colors are gone on VS Code 1.3"
They don't have any coloring anymore.

[2016-07-13 22:46] wycats commented on #130
Any progress on this?

[2016-07-14 02:23] Draivin commented on #150
Upstream issue:

https://github.com/Microsoft/vscode/issues/9032

[2016-07-14 02:28] Draivin commented on #130
Related: https://github.com/saviorisdead/RustyCode/issues/146

Ideally, we would use the json build output, but as rustc only outputs one or the other, if we adopt the json build we won't be able to show the cargo build internally as if it was a console.

What are your thoughts on this?

[2016-07-14 03:05] wycats commented on #146
@jonathandturner maybe we could include the "text" version of the message inside of the JSON?

[2016-07-14 14:26] jonathandturner commented on #146
@wycats - thanks for the reminder!  I started a thread on the Rust internals list about stabilizing the json format, which includes adding a field for the fully rendered compiler message:

https://internals.rust-lang.org/t/stabilizing-json-compiler-message-output/3691

[2016-07-25 18:30] #148 closed

[2016-07-25 19:00] saviorisdead commented on #141
I am not sure about this `install rust for you feature`, because you are right, there are so many ways to install and manage rust toolchain (`rustup` hopefully wil fix that), but I think ability to install all required binaries is good suggestion, will look into it.

[2016-07-25 19:03] saviorisdead commented on #140
Hey, `toml` support is managed by different extension (https://marketplace.visualstudio.com/items?itemName=be5invis.toml), but I can't find it's repository URL to open up a issue. I'll consider adding support to `RustyCode`.
Closing this as this is not related to `RustyCode`.

[2016-07-25 19:03] #140 closed

[2016-07-25 19:25] CryZe opened #153 "Rustsym Integration only works in the main folder"
If you are working on a crate in a sub directory of your main folder, it won't find any symbols.

[2016-07-25 19:27] saviorisdead commented on #153
Is this integration issue or `rustsym` itself?

[2016-07-25 19:28] CryZe commented on #153
Seems like an integration issue, as it should just report the proper path to rustsym?! But I'm not 100% on that.

[2016-07-25 19:30] CryZe commented on #153
Yeah looks like rustsym itself is capable of handling this properly.

[2016-07-25 19:32] saviorisdead commented on #153
OK, then integration need a fix.
@trixnz tagging you to keep you informed :)

[2016-07-25 19:35] CryZe opened #154 "Potentially integrate rustfix"
[rustfix](https://github.com/killercup/rustfix) seems great and already works fairly well. Would be cool to see "Right Click -> Fix" in RustyCode eventually :)

[2016-07-25 19:36] trixnz commented on #153
Yikes, I didn't think about this use case; I generally keep my workspace root at the crate root.

The question is how to figure out the crate root from the current file being modified?

We could potentially iterate directories backwards from the currently open file until Cargo.toml is found, unless there is a more simple solution with some VSCode API?

[2016-07-25 19:40] saviorisdead commented on #153
`The question is how to figure out the crate root from the current file being modified?`
Yes, we currently doing something similar [here](https://github.com/saviorisdead/RustyCode/blob/master/src/services/commandService.ts#L279).
But maybe VSCode has some convenient API for this case, I am not sure.

[2016-07-25 20:05] trixnz commented on #153
Fixed it by using the `cwd()` function RustyCode already had, although I've moved it to `PathService` as it seems to be a more appropriate spot. PR is [here](https://github.com/saviorisdead/RustyCode/pull/155).

[2016-07-25 20:37] trixnz commented on #102
@CryZe saw that you hadn't done this yet and it was slowly driving me insane (having come from Atom) so I stole your PR :stuck_out_tongue:

[2016-07-25 21:45] #153 closed

[2016-07-25 21:46] #102 closed

[2016-07-25 22:13] killercup commented on #154
You could probably take the a look at the JSON definition of "warning with suggestions" (as given by rustc) and implement an "apply fix" as part of the editor plugin itself. (There is a "check with clippy" already, right? Make sure it uses the JSON output and you'll have all the compiler information you need!). The hard part of making rustfix work is getting all the suggestions from all the lints

[2016-07-26 03:41] Draivin commented on #141
We could implement a command like "Install Dependencies" that would install all the easily installable ones (the ones that can be installed by running "cargo install ...").

[2016-07-26 08:20] aka-demik commented on #145
Now we have a `"rust.checkWith": "clippy"`.
But how can I configure RustyCode so that it calls `rustup run nightly cargo clippy` instead of `cargo clippy`?
Maybe add `"rust.clippyCmd": "rustup run nightly cargo clippy"`?

[2016-07-26 11:05] llogiq commented on #145
Cool!

[2016-07-27 12:02] danslapman opened #157 "Global symbol search"
It seems that `rustsym` allows to search for symbols in the whole crate, however 'Navigate to symbol' command searches in the current file only.

[2016-07-27 12:05] CryZe commented on #157
CTRL+T, have fun :)

[2016-07-27 17:32] danslapman commented on #157
`No symbols matching` and no fun :(

[2016-07-27 17:35] trixnz commented on #157
Which version of RustyCode are you using? There was an issue in 0.15.1 where I incorrectly assumed the workspace root as being the crate root. It should be fixed in 0.16.0.

[2016-07-27 17:47] danslapman commented on #157
I'm using 0.16.0

[2016-07-27 17:50] trixnz commented on #157
Hmm, okay. If you run `rustsym search -g /path/to/crate/root somesymbol` from a terminal, do you see any symbols?

[2016-07-27 17:56] danslapman commented on #157
Yes, I do
In fact, I opened this issue here just because I'm sure it's a kind of VSCode problem. It says "Open a text file first to go to a symbol"

[2016-07-27 17:58] CryZe commented on #157
Do you not have a .rs file open? O.o

[2016-07-27 18:01] danslapman commented on #157
When I open some .rs file, "Go to symbol" works, but only file-wide

[2016-07-27 18:05] CryZe commented on #157
Go to symbol isn't meant to work across multiple files, if anything check "show all symbols", type something there and then it should show the symbols you searched for.

[2016-07-27 18:13] danslapman commented on #157
"Show all symbols" doesn't show any symbols.

[2016-07-27 18:20] trixnz commented on #157
Is `Cargo.toml` accessible from any directory from the parent folders of the rust file you're editing? Since you said `rustsym` returns symbols, it sounds like another integration issue.

When you hit Ctrl-T, we search up through the parent folders of the current file and look for `Cargo.toml`. If it can't find it, then you *should* get an error about that when you close the symbol list window.

[2016-07-27 18:26] danslapman commented on #157
Oh, I got it. This way it works. However, there is a strange issue: I have a `pub struct Store` in my project. When I type `store`, it is founded successfully, but `Store` query shows no results.

[2016-07-27 19:25] trixnz commented on #157
What steps did you take to fix it in case someone else stumbles upon the same issue? :smile:

Regarding the `Store` issue, I just pushed 0.2.2 of `rustsym` which fixes the case sensitivity. You can update it with cargo.

[2016-07-27 19:44] danslapman commented on #157
@trixnz 0.2.2 works nice, thanks!

[2016-07-27 19:44] #157 closed

[2016-07-28 10:35] saviorisdead commented on #121
This seems to be fixed, so closing this :)

[2016-07-28 10:35] #121 closed

[2016-07-28 21:45] trixnz commented on #146
I took a look at implementing this. I don't think it will be difficult at all, but there are a few potential annoyances:

To implement this on all cargo tasks, we could use the `RUSTFLAGS` env var, although this causes issues for people like myself who prefer to do the building and running from a terminal. A change to `RUSTFLAGS` will trigger a rebuild when you build from the terminal as one will

[2016-07-29 08:43] #104 closed

[2016-07-29 10:36] ruabmbua commented on #136
Same problem here .-(

[2016-07-29 11:33] saviorisdead commented on #137
Hey :)
This is handled by VSCode itself and I think they using simple regular expression to find occurrences of highlighted word.

[2016-07-29 11:33] #137 closed

[2016-07-29 11:35] #122 closed

[2016-07-29 20:11] jonathandturner commented on #146
If you put the flag in RUSTFLAGS, you're only doing it the one time, right?  If so, wouldn't that be a single rebuild?

[2016-07-29 20:14] trixnz commented on #146
From the IDE's point of view, yes. If, however, you decide to build it from a terminal then `RUSTFLAGS` is empty which triggers a rebuild as it is stored in the compilation settings somewhere.

I understand the reasoning behind it as you definitely want a rebuild if you change optimization settings or what have you, but the error output shouldn't (in my opinion) have such an impact.

[2016-07-29 21:27] trixnz commented on #146
I've created a feature request at https://github.com/rust-lang/rfcs/issues/1693 for an environment variable that only affects the error format. Suggest we continue discussions there.

[2016-08-02 20:57] trixnz commented on #146
https://github.com/saviorisdead/RustyCode/pull/159 adds support for JSON errors and I'll look into adding support for the new error format during the week :+1:

[2016-08-05 11:42] #130 closed

[2016-08-08 15:46] jonathandturner commented on #146
Sounds like this is in-progress, but I wanted to give you all a heads up that we're currently discussing turning the new error format on: https://github.com/rust-lang/rust/pull/35401

If there are any issues, please let us know.  Making the switch will only affect nightly, and there will still be some weeks before this goes into stable, which gives us some time to make changes if need be.

[2016-08-08 16:17] trixnz commented on #146
Awesome!

[2016-08-10 22:58] isg commented on #131
This would be great. The one that would be most helpful for me is `--lib`, but specifying a default would be even better.

Would it be possible to have an option to `cargo check` all of the targets (e.g. run once as --lib, again for each --bin) by concatenating the outputs of each run?

[2016-08-12 17:40] isg commented on #131
FWIW, setting to `clippy` seems to automatically use `--lib` in this case.

[2016-08-13 21:33] trixnz commented on #141
I've added some of this functionality in PR #163. If anyone has any suggestions before it gets merged, I'd be happy to see how we can improve it :+1:.

[2016-08-14 11:53] CryZe opened #164 "rustfmt 0.6.0 seems broken"
I just updated my rustfmt to 0.6.0 and now RustyCode always says `Cannot format due to syntax errors`, which is weird, cause manually invoking `cargo fmt` works just fine without any warnings. It might just be me, but it used to work before, so it's kind of weird that it doesn't now.

[2016-08-14 11:54] trixnz commented on #164
This is fixed by https://github.com/saviorisdead/RustyCode/pull/161

[2016-08-14 11:55] CryZe commented on #164
Oh, totally missed that. Thanks for the fix :D

[2016-08-14 14:52] trixnz commented on #154
I've got a local build with code actions working, but there is the lingering problem that when you execute a fix that changes the line count, any remaining hints will be for the wrong range. The obvious solution is to re-run `check` or `clippy` when you make changes to the file, but Rust compile times aren't known for their speed so that wouldn't be a very good idea.

Maybe the language server wil

[2016-08-14 21:23] CryZe commented on #154
Oh wow, this is beyond amazing. :O

Am Sonntag, 14. August 2016 schrieb Cam :

[2016-08-14 21:25] CryZe commented on #154
Also, I'm totally fine with it rerunning for now. Maybe it could be a
setting?

Am Sonntag, 14. August 2016 schrieb Cam :

[2016-08-14 21:27] killercup commented on #154
Remember: You only need to invalidate the suggestions on lines below the applied fix! So, just tell people to fix their code from bottom to top for now :)

[2016-08-14 21:28] CryZe commented on #154
Also can't you measure how large the change is and then fix the ranges
based on that?

Am Sonntag, 14. August 2016 schrieb Pascal Hertleif :

[2016-08-15 17:14] trixnz commented on #154
@CryZe I guess we could clear the code actions and rebase the diagnostics after an action has been taken. Will have to look into it..

[2016-08-16 03:52] nipunn1313 opened #165 "Cannot format due to syntax errors" not useful enough to debug"
I am getting the warning "Cannot format due to syntax errors"
It would be really nice if the error message included the command which was run so I could try to repro the errors. In my case, the program compiles, so it's unclear what's going on.

From reading the code, it looks like it is calling
rustfmt --skip-children --write-mode=diff <filename> which is returning some non-3 status code. It woul

[2016-08-16 10:40] vaags commented on #165
Yes. This message is potentially misleading. When I run rustfmt manually on the same code it works just fine, so the syntax must be correct?

[2016-08-16 14:19] vaags commented on #165
I have the same problem (VS Code 1.3 on Windows). No idea how to fix this. Running rustfmt manually works fine.

[2016-08-16 16:15] CryZe commented on #165
This is because you guys are using rustfmt 0.6.0 which isn't yet supported by RustyCode. There's a PR for it here: https://github.com/saviorisdead/RustyCode/pull/161

[2016-08-19 18:01] stoatally opened #166 "Cargo commands stop working after "Current document not in workspace" warning"
_Let me just say I'm new to both Visual Studio Code and rust, so I may have missed something obvious here._

Sometimes when creating a new rust file inside of the `src` directory I'll get a warning saying that the "Document is not in the workspace" or words to that affect, after this none of the cargo commands will function, I cannot test, build or run the project until I restart VSC.

[2016-08-25 01:16] bjorg commented on #166
Same here. The only solution seems to restart VS Code.

[2016-08-25 17:33] bjorg opened #167 "Support `test` in addition to `check` for `rust.checkOnSave`"
Disclaimer: maybe I'm doing it wrong!

Currently, I need to comment out `#[cfg(test)]` from my `lib.rs` file so that my `tests.rs` file gets actually compiled. However, even then, it doesn't check the validity of all the `#[test]` functions until I run `cargo test` from the command line.

I would love to always run `cargo test` on save and have it check and report all issues, including failing tes

[2016-08-27 16:44] TomasHubelbauer opened #168 "Consider more helpful message for "Racer not found""
Hey, I'm willing to prepare a PR for this with some guidance required (no prior experience with VS Code plugin development), if you think this is a good idea.

https://github.com/saviorisdead/RustyCode/blob/c95ce647235147e69a5635b586da8af0406d9596/src/services/suggestService.ts#L33-L38

I think this label should have a `command` associated, one that says that:
- You need to install Racer (for peop

[2016-08-27 17:00] Draivin commented on #168
Just some thoughts:

There is a [pending pull request](https://github.com/saviorisdead/RustyCode/pull/163) that implements a command that installs everything that can be installed through `cargo install`.

I'm not sure about the current state of racer, but it used to require you to have other stuff set in the environment variables, such as the path to the rust source code. If we are assuming peopl

[2016-08-27 17:02] TomasHubelbauer commented on #168
Thanks for the pointers, I might have read the ReadMe (the second time) but I still haven't searched the issues first! Shame on me. I'll go check out the PR, maybe I can help with that instead.

[2016-08-27 21:57] JasonBock opened #169 ""Cargo: New" command?"
I'm new to Rust and I'm just learning the basics. I got RustyCode installed in VS Code, and I noticed that there's no "Cargo: New" command. Is that something that could be added?

Sorry if this seems like a newbie question, because....well, it is :).

[2016-08-27 23:42] hckr commented on #97
I would also appreciate this feature.

Which files do you think should be considered related? All from "src" folder of Cargo project or maybe all Rust source files currently opened?
I think auto save could be added before all cargo calls which would simplify implementation and should not break anything.

[2016-08-28 09:35] BusyJay commented on #97
I think all the files belongs to current project should be considered as related, no mater whether it's located in src folder.

[2016-08-28 13:49] JasonBock commented on #88
So far I'm resorting to using a terminal window to navigate to the exe and running it there. Cumbersome, but it works. Would be nice if the Run command did this.

[2016-09-02 22:51] kdar commented on #164
It seems to me like #161 does not fix rustfmt 0.6.0. Looking at the output of rustfmt's diff, it seems to have changed.

https://github.com/rust-lang-nursery/rustfmt/commit/a0de408198d5f1e8e2d96b471450af3742dfdddc#diff-4867ec103faeb4d5bb7651bcdb33994a

[2016-09-03 11:12] trixnz commented on #164
@kdar good catch, at the time I wrote the PR the version of master I was on didn't have the changed output. I suppose we're going to need to write in a backwards compatibility layer too 😞. I'll add it to my todo list.

[2016-09-03 14:52] be5invis opened #170 "TOML is NOT rust source."

[2016-09-03 17:50] KalitaAlexey commented on #170
And what? It is for executing build command when changing *.toml files for example Cargo.toml otherwise you should switch to *.rs and run build command.

[2016-09-03 17:51] be5invis commented on #170
@KalitaAlexey However the colorizer and formatter is messed up.

[2016-09-03 19:39] physhh commented on #164
If you are looking for a solution to this now, here is a patch which works with rustfmt 0.6.0:
https://gist.github.com/physhh/e686d1ef3d43ff15b0073a0f888e9fc2

Relevant code of rustfmt:
https://github.com/rust-lang-nursery/rustfmt/blob/e1759ae295a65b28636d4635f76daa129eed9be0/src/filemap.rs#L151
https://github.com/rust-lang-nursery/rustfmt/blob/35624c54e5d7db6db232a2c814441473acc37cfd/src/rustfmt_

[2016-09-03 19:41] kdar commented on #164
Awesome! Thank you @physhh

[2016-09-04 05:37] KalitaAlexey commented on #170
@be5invis Okay. We need to prevent colorizer and formatter to being running on *.toml, but your PR disables *.toml files.

[2016-09-04 08:04] be5invis commented on #170
@KalitaAlexey OK, I just included my toml colorizer into rustycode.

[2016-09-05 09:00] #131 closed

[2016-09-05 14:21] TomasHubelbauer commented on #168
I'm closing this. Recently I was setting up RustyCode on a new computer and the experience is more straightforward than I though, my old setup was a little messed up because of a botched Rust install. I welcome the linked PR and still want a more streamlined experience setting RustyCode up in absence of everything it depends on, but it's less pressing than I though, that's why I decided to close t

[2016-09-05 14:21] #168 closed

[2016-09-06 20:52] mooman219 opened #172 "rustfmt does not run"
Running RustyCode 0.18.0 and RustFMT 0.6.0 on Windows 10.

Nothing happens when running a format or enabling `"rust.formatOnSave": true` and saving. When running the command `cargo fmt` from the command line, everything formats as it should. Rusty code produces no output when it fails to format, and no temporary files are created. The file is being found because If I remove rustfmt.exe, RustyCode

[2016-09-06 21:49] CryZe commented on #172
Yeah same

[2016-09-07 21:22] MrWolfZ commented on #172
same here

[2016-09-08 06:34] chessnokov commented on #172
same

[2016-09-08 17:22] ruabmbua commented on #172
Same here

[2016-09-08 18:14] trixnz commented on #172
@saviorisdead I recommend fast tracking #173 into a new release as this is a significant issue.

[2016-09-08 18:15] trixnz commented on #164
This is fixed with backwards compatibility in #173 👍

[2016-09-12 18:25] W4RH4WK opened #175 "Keep output hidden"
This is more of a question. Is there a way to keep the output panel hidden when checking the file for errors. I mind popping it open when building, but when it just runs `cargo check` automatically on saving I'd rather have it keep the output panel hidden.

Error / Warning count in the lower left + underline squiggles are all I need.

Maybe this is already available and I just did not find it, ple

[2016-09-12 18:28] trixnz commented on #175
I strongly agree with this, the output window is useful if you're compiling in the IDE, but when you're saving files it gets a little tedious to keep closing the window. I personally disable the whole output window in a local branch as I compile outside of the IDE and have no need for it.

[2016-09-12 18:45] Draivin commented on #175
I generally agree with this, but there is one related issue that I would like opinions about.

As an example, when running the check command, if there is more than one possible `bin`, cargo will fail and say that we should specify the appropriate `bin` . In such cases the error check will not produce any results, as the compilation won't even start.

Obviously we should add an option to specify th

[2016-09-12 18:48] trixnz commented on #175
@Draivin can you show the output of what happens? I've never seen that error before.

[2016-09-12 18:51] W4RH4WK opened #176 "Specify features"
This has already been added to Atom's rust-linter extension and would be a good addition here also.

Cargo allows you to specify feature flags to tweak your build process. This also applies when running `cargo check`. Some people (including me) use this for running additional checks, like using clippy this way.

Maybe it would be good to have this as a workspace specific setting since different pr

[2016-09-12 18:54] W4RH4WK commented on #175
@Draivin In my humble opinion when `cargo check` fails because it has not been state which binary (or library) to build, the resulting error should not be put in the output window, but a message in the top of vscode should appear informing the user that something about his current setup is not right.

[2016-09-12 19:00] Draivin commented on #175
@trixnz
![image](https://cloud.githubusercontent.com/assets/947593/18448571/10a20aee-7902-11e6-8b8d-e423af65a1be.png)

[2016-09-12 19:03] Draivin commented on #175
@W4RH4WK I agree with you, and this is the general direction we go when dealing with Rusty Code messages. I brought this case up in case someone decided to make a pull request removing the output window without regards to a possible failure.

[2016-09-12 19:03] trixnz commented on #175
Ah right, i'm not sure how we would add support for that. Obviously putting it into the workspace preferences would be kinda janky. Maybe we can add a command to set the active `bin`? That would require being able to list off the possible targets though; not sure if cargo supports that.

[2016-09-12 19:08] trixnz commented on #175
Actually, it looks like we could use `cargo read-manifest` to list off the targets and provide some kind of window for selecting the one you'd like to target. Although, VSCode doesn't seem to provide a clean way of doing that, AFAIK.

[2016-09-12 19:09] W4RH4WK commented on #175
@trixnz For now the `lib` option might suffice, it is not ideal but after all this is more a problem with `cargo check` than with an editor / IDE extension. It may be resolved in the future, see rsolomo/cargo-check#4 and its crossreferences.

[2016-09-12 19:24] Draivin commented on #175
@trixnz If you are interested in implementing this, it seems `vscode.window.showQuickPick` works alright:
![image](https://cloud.githubusercontent.com/assets/947593/18449362/3af8cf14-7905-11e6-840c-1cac3063be11.png)

If you are not interested, I probably will look into it soon(™).

[2016-09-12 19:43] trixnz commented on #175
I had no idea that even existed, shame on me! I probably won't get time until the weekend, so if I don't see a PR by then I might jump on it 😄

[2016-09-12 20:36] jonathandturner opened #177 "Rust 1.12 - new error format enabled"
Hey all - I'm going door-to-door to tell plugins that we're 17 days away from Rust 1.12 being released.  Looks like you already have [patches](https://github.com/saviorisdead/RustyCode/commit/b5d55175243548b5ba432c30e2c7f8f4b289c830) that support the new error format.  Awesome!

With 1.12, there are a couple of changes from where we were a month ago.  The new error format is now the main format, a

[2016-09-13 02:04] gertcuykens commented on #172
same on OSX :)
racer = ok
rustsym = ok

cargo fmt works only manually in console, no formating on `option + shift + F`
cargo check works only manually in console, no error highlighting present in vscode

[code]

[2016-09-13 02:09] gertcuykens commented on #177
Using v0.18 and vscode 1.5.2 (OSX) and I don't see error highlighting

[2016-09-13 13:31] Draivin commented on #177
@gertcuykens you need to set `rust.useNewErrorFormat` to true while the new format is not stable.

[2016-09-13 17:26] gertcuykens commented on #177
Confirmed `rust.useNewErrorFormat` is working for me, thanks :)

[2016-09-15 03:25] bjorg commented on #132
+1

[2016-09-16 15:12] W4RH4WK commented on #97
I looked into implementing this feature and noticed that it conflicts with the `checkOnSave` feature, given my naive implementation. If `checkOnSave` is enabled another cargo run is triggered when invoking `vscode.workspace.saveAll()`.

Any ideas how to work around this conflict elegantly?

[2016-09-16 15:36] doxxx commented on #97
Perhaps that option needs to become a trinity state: off, check, build.

[2016-09-20 23:04] TedDriggs opened #181 "Don't show snippets/suggestions in comments"
At the moment, the following will all show full type-aware suggestions:

[code]

[code]

**Expected behavior:** In comments, disable suggestions. This is on 0.18.0 with the latest racer and rustfmt installs

[2016-09-24 21:41] wesleywiser opened #182 "Provide an option to run the current project with backtraces on"
It would be nice if there was an option that caused RustyCode to the execute `cargo run` with `RUST_BACKTRACES=1` set.

[2016-09-29 14:17] Enet4 opened #183 "Should Racer integration be working properly at the moment?"
I'm using Visual Studio Code 1.5.3, Rust compiler 1.11.0 and Racer 1.2.10 on a 64-bit Arch Linux, and right now I'm facing two related issues in version 0.18.0 of Rusty Code:

- When "rust.racerPath" is properly configured, all Cargo commands become unregistered. Consequently, checking on save does nothing and no error/warning highlight is made available. When the former setting is omitted, the co

[2016-10-05 04:25] masaeedu commented on #172
@saviorisdead, could #173 please be merged? Formatting doesn't seem to be working with the latest version of rustfmt.

[2016-10-05 07:46] W4RH4WK commented on #172
I am afraid @saviorisdead may be dead... no commit / merge for almost a month.

[2016-10-05 08:04] saviorisdead commented on #172
@masaeedu @W4RH4WK No, I'm not dead yet :) It will be merged along with other PRs in coming days.

[2016-10-05 11:00] W4RH4WK commented on #172
@saviorisdead great to hear from you, welcome back :)

[2016-10-11 02:02] CryZe opened #185 "Don't cut off Hover Popups anymore"
Visual Studio Code 1.6 has scrollbars in the Hover Popups, so there's no need to only show a portion of the symbol's documentation anymore.

[2016-10-13 10:20] 5HT commented on #172
Guys, please merge it :+1:  <3

[2016-10-13 10:22] #141 closed

[2016-10-13 10:24] #172 closed

[2016-10-13 10:24] #150 closed

[2016-10-13 10:25] #167 closed

[2016-10-13 10:25] #176 closed

[2016-10-13 13:30] boyedarat opened #186 ""Rust Tools Missing" bug on Windows"
Updated to the latest version of Rusty Code v0.19.0 on VSCode Insider 1.7.0 (Windows 10 x86_64).
The "Rust Tools Missing" message shows up on the status bar.
The status bar also shows "Racer: On".

Is the new tools detection code using Promises, trying to find them on the PATH environment variable?
I've explicitly specified all location of tools in my settings.json. I do not want to pollute my PAT

[2016-10-13 17:34] trixnz commented on #186
It runs two passes; the first checks if the path specified in the settings file exists, and falls back to the `PATH` in the event that it doesn't exist. You have specified all of the paths, so this shouldn't happen.

Can you upload your `settings.json` so I can run a test locally?

[2016-10-13 17:56] trixnz commented on #186
Nevermind, was a silly error. PR issued, thanks!

[2016-10-15 02:08] smt923 commented on #175
Somewhat related to this - I think it would be nice, if possible, to have an option to show the error list instead of compiler output (and have both output and error list hidden on successful builds) on errors, which I foolishly didn't realise existed until today:

http://i.imgur.com/AlAIGZx.png

It's obviously far cleaner and nicer to read through than the raw compiler output, I apologise if this

[2016-10-16 14:53] boyedarat commented on #186
Sorry for the late reply, was away the last few days.
I am still getting the same issue with v0.19.1.
I even tried reinstalling the extension but no luck.

I've attached the settings.json for your testing.
[settings.json.txt](https://github.com/saviorisdead/RustyCode/files/531889/settings.json.txt)

[2016-10-16 16:17] boyedarat commented on #186
I did some digging and found that if the .exe extension is omitted, the "Rust Tools Missing" error shows up. The error goes away when I add the .exe extension to the tools. However. the tools work just fine in either case.

I've attached an updated settings.json for comparison with the one posted earlier.
[storage.json.txt](https://github.com/saviorisdead/RustyCode/files/531940/storage.json.txt)

[2016-10-18 07:55] Gordon-F commented on #97
@W4RH4WK disable checkOnSave if saveOnBuild enabled ? And show information message.

[2016-10-18 09:01] W4RH4WK commented on #97
@Gordon-F would be a possibility, I'll try that later on if I find the time.

[2016-10-18 09:36] Gordon-F commented on #97
@W4RH4WK i think i can send PR today later.

[2016-10-18 18:58] mrapogee opened #193 "Add option to save on Build, Test, etc..."
I often forget to `cmd-s` and simply hit `ctrl-shift-t` which leads to the previous state executing. Could there be an option to save on build, test, etc?

[2016-10-18 18:59] Gordon-F commented on #193
Look at #97

[2016-10-18 19:01] mrapogee commented on #193
Awesome!

[2016-10-18 19:01] #193 closed

[2016-10-19 11:10] W4RH4WK opened #195 "Rust language Server"
Just saw this on HackerNews and thought we should have at least an issue about this.

<https://internals.rust-lang.org/t/introducing-rust-language-server-source-release/4209>

[2016-10-19 11:20] Gordon-F commented on #195
RLS in currently in pre-alpha stage. Maybe wait beta?

[2016-10-19 12:29] W4RH4WK commented on #195
Of course we should wait a bit and see, but just to keep it in mind.

[2016-10-19 12:31] Gordon-F commented on #195
[RLS VSCode extension](https://github.com/jonathandturner/rustls_vscode)

[2016-10-20 06:14] Gordon-F commented on #181
Looks like we can't resolve it. [VSCode issue](https://github.com/Microsoft/vscode/issues/5069)

[2016-10-20 07:33] zsynacl opened #196 "save on compile"
Thanks to your great job, I can enjoy my rust code now.
I was wondering whether the plugin can save my code when I press ctrl+shift+R or any other action causes a compilation.

Thanks again.

[2016-10-20 07:50] W4RH4WK commented on #196
Pull Request is already open #194

[2016-10-20 07:54] zsynacl commented on #196
thx. Better if the instruction was added to README.

[2016-10-20 07:54] #196 closed

[2016-10-21 11:26] Gordon-F opened #197 "Rustup integration"
Do we need to add rustup integration into VSCode and command like "Install Rust"?

[2016-10-21 12:01] W4RH4WK commented on #197
Personally I think it goes a little too far, but it can be a great addition if though through.

[2016-10-21 12:19] W4RH4WK opened #199 "Add building indicator"
I propose adding a spinner to the status bar while a cargo task is running.

see: https://github.com/Huachao/vscode-restclient/issues/13 and the commit referenced in this issue.

[2016-10-21 12:30] Gordon-F commented on #199
Looks good.

[2016-10-21 13:42] KalitaAlexey commented on #199
@W4RH4WK Why? What's purpose of this? When you start a cargo task a terminal is shown. You can see a progress in the terminal.
I am against it because I want fast VSCode.

[2016-10-23 16:13] Joev- opened #201 "Unable to configure rust tools on OS X"
Hi,

I'm hoping that I can post this here. I'm having a lot of trouble understanding how to configure VS Code, RusyCode and the rust tools on OS X. I am using VS Code version 1.6.1 and RustyCode 0.19.1.

I have followed the instruction in the readme and have installed all tools as described using cargo. I am launching VS Code using Spotlight / Alfred. I get syntax highlighting, and can run Cargo c

[2016-10-23 17:38] KalitaAlexey commented on #201
Dear @Joev-, could you change **~** to absolute path?

[2016-10-23 18:03] W4RH4WK commented on #164
Anything left to do here?

[2016-10-23 18:12] W4RH4WK commented on #182
Do you propose a config option? We could certainly add one, but I don't know whether its practical to always toggle that flag.

And I am against adding a version for most cargo tasks which just has backtraces enabled.

[2016-10-23 18:21] W4RH4WK commented on #145
For reference, I did not have a good experience running `cargo clippy`. Instead I add it as optional dependency to my project and enable it using a feature flag.

`Cargo.toml`:
[code]

VScode config:
[code]

This allows me to disable clippy warnings inside certain files, like this:
[code]

related #197

[2016-10-23 18:25] W4RH4WK commented on #134
Does this still happen? If so can you please post version information about your setup.

[2016-10-23 18:52] Joev- commented on #201
That fixes it, thanks. Does VS Code not support tilde expansion?

[2016-10-23 19:52] KalitaAlexey commented on #201
@Joev- I do not know. If you want you can open an issue in VSCode repository.

[2016-10-23 21:36] Binero opened #203 "Better Cargo and Rustup Intergration"
Executables like `rustfmt`, `rustsym` and `racer` are more often than not installed with cargo. As such, the extension should look for these files in the `.cargo` directory.

Additionally, it should also search for the rust source files in the folder rustup would usually put them. This location of the directory can be received using `rustc --print sysroot`.

[2016-10-23 21:50] Gordon-F commented on #203
I am working on rustup integration. #197

[2016-10-23 21:53] Binero commented on #203
@Gordon-F I saw that issue, but it tries to address a different topic. Do note that this isn't about calling rustup to install toolchains, but rather to just use the path rustup installs to as a place to check for a rust source. When using `rustc` to get the `sysroot`, this path will always link to the current toolchain as well. In second thought, this example might be an issue with `racer`, and n

[2016-10-23 22:16] Phrohdoh opened #204 "Racer: Crashed (failed to read env var?)"
macOS Sierra (10.12)
VSCode: 9e4e44c19e393803e2b05fe2323cf4ed7e36880e 1.6.1

[code]

racer works fine when I invoke it so I do not know what is broken here:

[code]

These commands were ran in the terminal integrated into vscode, fwiw.

[2016-10-23 22:22] Gordon-F commented on #204
You see #201 ? Maybe you have same problem?

[2016-10-23 22:31] Phrohdoh commented on #204
This problem is similar in that using the config values (with absolute path) 'fixed' the issue, but RustyCode is _not_ reading the environment variables as it suggests it does (something in the attempt to do so is failing) because my variables are set and work fine if used outside of RustyCode.

[2016-10-24 07:53] W4RH4WK commented on #204
Yesterday I tried whether environment variables (`RUST_BACKTRACE=1` in my case) would be forwarded to a cargo task --- they are not. It's quite likely vscode does not forward your env vars automatically to racer either. Seems like one would have to do this manually.

[2016-10-24 12:29] W4RH4WK commented on #203
@Binero executables like `rustfmt` are expected to be available in your path. If it is installed via Cargo, it will be located at `$CARGO_HOME/bin/rustfmt` and `$CARGO_HOME/bin` should be in your path.

[2016-10-24 12:38] Gordon-F commented on #203
@Binero RustyCode should automatically install rustfmt, rustsym and racer if not find them in $CARGO_HOME/bin.

[2016-10-24 13:43] KalitaAlexey commented on #203
@Gordon-F It should not install anything automatically. It should ask an user whether the user wants it.

[2016-10-24 17:02] Binero commented on #203
Cargo does not add its installation directory to the PATH. It's much more ergonomical to have RustyCode check this directory as a fallback.

[2016-10-24 17:51] W4RH4WK commented on #203
Cargo does not add it because it shouldn't.

I am just thinking that the assumption, the user wants what is inside `~/.cargo/bin` may be a bigger one than using what is in the path. If `$CARGO_HOME` is set specifically than it's very likely what the user wants, but otherwise I am not so sure.

I'll probably create a PR tomorrow about this.

[2016-10-25 01:37] wesleywiser commented on #182
A config option is fine. Although, now that I think about it, there's no reason I can think of not to run with `RUST_BACKTRACES=1` *always* set.

[2016-10-25 05:41] Gordon-F commented on #182
@wesleywiser you think we need a command like 'Toogle Backtrace' ?

[2016-10-25 09:38] W4RH4WK commented on #203
PR is up, let me know about any changes.

[2016-10-25 18:21] Binero commented on #203
Cargo does not add its installation directory to the PATH. It's much more
ergonomical to have RustyCode check this directory as a fallback.

On Mon, 24 Oct 2016, 15:43 Alexey, <notifications@github.com> wrote:

[2016-10-25 18:54] CryZe commented on #164
Nope, it seems to work perfectly :)

2016-10-23 20:03 GMT+02:00 Alex Hirsch <notifications@github.com>:

[2016-10-25 20:24] TedDriggs opened #206 "Intellisense doesn't populate for locally-declared enum branches"
Observed on OS X with RustyCode 0.19.1

[code]

In the code above, adding a new line inside `validator_demo` and typing `cmp.` will provide all the methods declared on `ast::Expression`; see screenshot

![screen shot 2016-10-25 at 1 22 49 pm](https://cloud.githubusercontent.com/assets/4805575/19702838/379dfcae-9ab6-11e6-8d26-b9f903c54363.png)

Doing the same with `subtraction` only provides word s

[2016-10-25 20:57] W4RH4WK commented on #206
Do you know whether this works in a different editor / IDE? I suspect the problem may come from the underlying completion tool (`racer`). If this is the case, you should open an issue [over there](https://github.com/phildawes/racer).

[2016-10-26 00:38] doxxx commented on #134
Setting `rust.checkWith` to `build` uses `cargo build` as expected with the check triggered by save when `rust.checkOnSave` is `true`. However, explicitly invoking the `Cargo: Check` command always uses `cargo rustc -- -Zno-trans` regardless of what value `rust.checkWith` is set to.

Code 1.6.1, Rust Code 0.19.1.
Project: https://github.com/doxxx/grep-access

[2016-10-26 08:17] W4RH4WK commented on #134
This is intended. The commands prefixed with `Cargo: ` always give you what they say. The setting `checkWith` is only relevant for checking a file automatically on save.

[2016-10-26 11:55] doxxx commented on #134
I understand. Thanks!

[2016-10-26 11:55] #134 closed

[2016-10-26 18:40] #201 closed

[2016-10-26 21:20] wesleywiser commented on #182
@Gordon-F perhaps. After thinking about it more, I think we should probably just always set `RUST_BACKTRACE=1` when executing `cargo run`

[2016-10-31 13:05] drusellers opened #207 "`Cargo: Check` command doesn't highlight errors in file"
Is that expected? I'd sure love to get some warning squiggles instead of a console dump.

[2016-10-31 14:25] W4RH4WK commented on #207
Does running `Cargo: Check` populate the Diagnostics / Problems panel? If not, try adding `"rust.useNewErrorFormat": true,` to your config.

[2016-10-31 15:20] drusellers commented on #207
`~/.vscode/settings.json`

[code]

BOOM. Great success.

[2016-10-31 15:20] #207 closed

[2016-11-01 12:58] vasily-kirichenko opened #208 "Peek wrong tooltip and go to wrong declaration if a struct has a field and a function with the same name"
![image](https://cloud.githubusercontent.com/assets/873919/19890343/2c9e41ac-a04b-11e6-8363-8ed6369a66fb.png)

[code]
Racer output:
[code]
So I think we should peek the second match as it more specific ("len()" better matches out code than "len").

[2016-11-01 14:26] vasily-kirichenko commented on #208
Fixed in https://github.com/saviorisdead/RustyCode/pull/209

[2016-11-01 14:26] #208 closed

[2016-11-02 10:33] RReverser opened #210 "Extension crashes on new error format"
From time to time extension apparently fails to parse some Rust errors (can't provide specific reproducible example yet unfortunately, but suspect it's related to human-readable borrow checker errors which are more complex than regular ones) and completely stops working until VSCode reload/restart.

Here is stack trace:

[code]

[2016-11-02 16:21] TedDriggs commented on #206
I don't think I have any other editors that work with racer; do you have a suggestion of one I could test on OS X?

[2016-11-02 16:52] W4RH4WK commented on #206
I think you can run `racer` from the commandline to see what it finds for a given position. Take a look at racer's documentation. If the wanted entries do not show up in the output, head over to the `racer` repository.

[2016-11-04 07:45] daiheitan commented on #210
Seems that RustyCode is broken with latest nightly

[2016-11-09 12:05] drusellers commented on #185
Yes please!!

[2016-11-09 12:09] drusellers opened #211 "Give `enum` their own highlight?"
Right now enum usage is just white. Could we give them their own color? Syntactically I'm not sure we could detect an enum vs a static function call so this may not be doable w/o something like the language server.

[2016-11-09 12:10] drusellers opened #212 "Mute attributes?"
What does this group think about giving attributes more of a muted tone? Is this the right place to ask and attempt a PR?

![image](https://cloud.githubusercontent.com/assets/63355/20137942/3399c366-a643-11e6-8aa7-fc45c4915a07.png)

I'm thinking that we just mute it a bit rather than plain white.

[2016-11-09 14:07] W4RH4WK commented on #212
This may be the wrong place for such a change. The color displayed is determined by your selected theme. Not the Rust syntax definition.

I recommend using a custom color theme if you don't like the default one.

[2016-11-09 16:18] drusellers commented on #212
@W4RH4WK agreed that the theme is what provides the color. So I guess the question is "Do we need a custom theme to support all of the unique aspects of Rust or not?"

[2016-11-09 16:18] #212 closed

[2016-11-09 18:33] W4RH4WK commented on #212
Anyway, if you'd like to have finer grained control over how Rust code is highlighted, you should start by taking a look at the official [Rust syntax file](https://github.com/Microsoft/vscode/blob/master/extensions/rust/syntaxes/rust.json). I don't think we should add a syntax file to this extension unless it's really necessary and we couldn't add the relevant changes to the official one.

I'd str

[2016-11-09 21:23] drusellers commented on #212
@W4RH4WK roger that, I have no clue how all of this works - or where to even try and make my request so I started here. :) I'll take a look at the syntax file and see what it has to say about the attribute syntax.

[2016-11-09 21:25] drusellers commented on #212
Looks like right here: https://github.com/Microsoft/vscode/blob/master/extensions/rust/syntaxes/rust.json#L212 is where attribute is defined. Now to learn how to color it differently. ;p Thank you @W4RH4WK for the pointers.

[2016-11-09 21:27] CryZe commented on #212
This is not really the most appropriate place to talk about this, but we
should get ? operator highlighting in until the next VS Code release as
that operator will become stable on December 23rd. And as some proposed, it
would be cool if editors would highlight it in a special color that you can
immediately notice. So maybe we should work together on this.

[2016-11-09 21:31] drusellers commented on #212
@CryZe where would be a good place to talk about this? For the `?` should we open up an issue in `vscode` for the rust.json file?

[2016-11-09 21:31] CryZe commented on #212
Here's an image of this btw: ![Image](https://cloud.githubusercontent.com/assets/310393/18568833/1deed796-7b6d-11e6-99af-75f0d7ddd778.png)

[2016-11-09 21:32] CryZe commented on #212
@drusellers I guess we could open an issue there, but I think it'll get much more attention by Rustaceans if we open one here (too?).

[2016-11-09 21:35] CryZe opened #213 "Implement ? operator highlighting to VS Code"
We should get ? operator highlighting in until the next VS Code release as
that operator will become stable on December 23rd. And as some proposed, it
would be cool if editors would highlight it in a special color that you can
immediately notice. So maybe we should work together on this.

This is how it could look like:

![Image](https://cloud.githubusercontent.com/assets/310393/18568833/1deed796-

[2016-11-10 00:07] CryZe commented on #213
Turns out that they are actually skipping Beta and are stabilizing the ? operator tomorrow, so we should do this rather sooner than later.

[2016-11-10 08:44] W4RH4WK commented on #213
The problem I see is that we would have to create our own Rust syntax file, otherwise we won't be able to use a custom style for them. And I'd rather have the vscode guys add this addition to their *official* Rust syntax file.

But if you'd really want it out that fast, we could use a syntax file as temporary workaround and drop it as soon as the official one supports it.

Another, probably minor,

[2016-11-10 09:46] doomsplayer commented on #132
now it's becoming an error in rust-1.14.0

[2016-11-14 17:24] vvuk commented on #210
Yep, looks like some protection would probably be worthwhile here, especially if it horks VSCode entirely

[2016-11-14 17:58] tioover opened #215 "Only lib.rs correctly complete"
<img width="526" alt="2016-11-15 1 56 48" src="https://cloud.githubusercontent.com/assets/930060/20276392/04219dc8-aad7-11e6-89cc-2a289f02bfb7.png">
<img width="895" alt="2016-11-15 1 57 29" src="https://cloud.githubusercontent.com/assets/930060/20276397/0833ebfa-aad7-11e6-8b82-a5460403c580.png">
the other file can only complete std.
<img width="860" alt="2016-11-15 2 00 15" src="https://cloud.git

[2016-11-15 09:28] W4RH4WK commented on #215
Can you provide the code, so I can directly test it?

[2016-11-18 09:24] flying-sheep commented on #175
* if an error exists: show error panel
* else:
	* if this is a check that was triggered via save (`rust.checkOnSave`): show nothing
	* else: show the output panel

[2016-11-18 18:57] vadimcn opened #217 "Custom build commands"
It would be nice if we could run custom build commands (e.g. rustbuild), while having RustyCode parse and display the errors.

[2016-11-18 23:23] GTB3NW opened #218 "RustyCode not detecting PATH correctly"
So it looks like RustyCode/VSCode isn't correctly detecting environment variables. Here's evidence that the PATH is set correctly for all tools and when setting the location for racer, it is unable to read the SRC location.

$ echo $PATH
/home/b3nw/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl

$ which racer
/home/b3nw/.cargo/bin/race

[2016-11-20 02:26] mitskevich commented on #175
@smt923 @flying-sheep I don't think it's possible to show (not toggle) error panel with current version of VS Code extension API: Microsoft/vscode#11399

[2016-11-21 09:00] W4RH4WK commented on #175
@mitskevich That's what I ran into, otherwise I would have added the option.

[2016-11-21 09:21] tioover commented on #215
Seem like other editor have a similar situation as well.
Maybe racer issue...

[2016-11-21 09:21] #215 closed

[2016-11-24 15:46] GTB3NW commented on #218
While I'm unable to verify this fixed worked, I did manage to fix the issue. I don't know which of these variables managed to fix it but I'm swaying towards the second.

1) Specified the absolute paths again rather than relying on the path (This previously didn't work, in fact it didn't work this time until I did the second step).

2) Ran the node repl (Just type "node" in the terminal).

I believ

[2016-11-24 16:04] Enet4 commented on #218
I'm having trouble understanding your steps. Once the absolute paths are configured, then it no longer relies on environment variables and should definitely work after a window reload. Are you also suggesting to remove the settings made in step 1 after doing step 2?

[2016-11-24 22:46] GTB3NW commented on #218
Enet, it didn't work with absolute paths either, it was only once I ran the node repl that everything started working.

[2016-11-25 18:11] shumy opened #225 "Missing Rust Tools used by RustyCode"
I keep getting this message in vscode, and the detailed info:
"You are missing racer, rustfmt, rustsym. Would you like to install them?"

But I'm sure the tools are installed, e.g: type rustsym in a console, and gives:

rustsym 0.3.1
Trixnz
Tool to query symbols from rust code for use in IDEs

USAGE:
    rustsym [SUBCOMMAND]

FLAGS:
    -h, --help       Prints help information
    -V, --version

[2016-11-26 08:26] GTB3NW commented on #225
Dupe issue of #218

[2016-11-26 23:55] Phrohdoh opened #226 "Unnecessary leading whitespace in suggestions"
![screen shot 2016-11-26 at 5 46 15 pm](https://cloud.githubusercontent.com/assets/4861023/20644650/69273722-b401-11e6-9b1f-1324f6cb1e26.png)

https://github.com/rust-lang/rust/blob/9003e1ab6a2e26ec881b9ff297095a8343ebc7d1/src/libcollections/vec.rs#L1360

[2016-11-29 01:16] nitingupta910 commented on #142
Using vscode 1.7.2 and even when there are build errors, the exclamation mark no longer brings up error list (it always shows no errors) and 'cargo build' console output doesn't have clickable links either.

[2016-11-30 15:08] hosza opened #227 "Output parsing broken on macOS"
Hi All!

I've installed VS Code and Rusty Code the other day and was very impressed by your work.
With this extension it seems to be very pleasing and efficient to develop Rust code.
The only issue that I've found that after building the project, it is impossible to navigate to the referred lines from the output and problems panels. Possibly because the build output is not parsed correctly.

Steps

[2016-11-30 21:28] drusellers commented on #212
@CryZe now that Rust has shipped the `?` do we want to try and get it added?

[2016-12-01 09:39] hosza commented on #227
Also I have tested this on Windows 10 and found exactly the same problem.

[2016-12-01 14:41] hosza commented on #227
After looking for error regexes I've found that diagnostics parsing actually is working correctly, only the new style error formatting is turned off by default For now I hardcode this flag into my global user settings (and hope this will not cause any problems later.)

[2016-12-01 14:41] #227 closed

[2016-12-07 04:53] xialvjun opened #230 "no autocompletion with spaces"
[code]

[2016-12-07 07:51] alexandrudima opened #231 "Cannot input anything in the out pannel"
Moved from Microsoft/vscode#16790

From @xialvjun

---

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14965
- Extensions:

|Extension|Author|Version|
|---|---|---|
|clojure|avli|0.4.2|
|toml|be5invis|0.0.3|
|vscode-eslint|dbaeumer|1.1.0|
|python|donjayamanne|0.5.5|
|EditorConfig|EditorConfig|0.3.4|
|tslint|eg2|0

[2016-12-07 08:28] KalitaAlexey commented on #231
Yes. Now it is an issue of RustyCode implementation.

[2016-12-08 17:01] Jascha-N commented on #210
Happening consistently with the new multi-line span error messages. Makes the entire extension unresponsive.

[2016-12-09 03:39] daiheitan commented on #231
This project seems dying. Not maintained for months

[2016-12-09 08:15] KalitaAlexey commented on #231
No, it isn't.

[2016-12-09 08:23] KalitaAlexey commented on #93
Hi @Binero,

**cargo** itself detects how many threads it can spawn. According to the help of **cargo**:
[code]

[2016-12-10 06:23] canfoderiskii opened #232 "New src path setting for Racer?"
Anyway, thanks for the wonderful extension at first.

Any possible to add new setting for Rust source path so that the Racer can find it without setting the system environment variable RUST_SRC_PATH?

Maybe in this way, I can re-direct racer to different version of Rust for different projects.

[2016-12-10 07:44] KalitaAlexey commented on #232
Hi @canfoderiskii,

You can. Click on the File->Settings->Workspace Settings. It is workspace settings.
Add "rust.rustLangSrcPath".
Since that moment, when you open this workspace racer will use specific value.

[2016-12-10 08:06] KalitaAlexey commented on #231
I've opened an issue Microsoft/vscode#16989.
They closed it, because there is already an issue Microsoft/vscode#13337.

To parse diagnostics, we should receive output of a build command. It is allowed through OutputChannel.
But only Terminal supports input.

[2016-12-11 04:00] xialvjun opened #233 "Will Linting be added to the Roadmap?"
I think linting is a very important tool for the rust beginers (to fight against the borrow checker?).

Hope you think about it.

[2016-12-11 06:37] KalitaAlexey commented on #233
What do you exactly mean? What should the linting do?

[2016-12-11 07:22] canfoderiskii commented on #232
@KalitaAlexey Thank you so much, it works fine. I'll close this issue.

[2016-12-11 07:22] #232 closed

[2016-12-11 08:19] xialvjun commented on #233
Just like the picture in [Rust Enhanced for Sublime Text](https://packagecontrol.io/packages/Rust%20Enhanced)

![Linting for Rust](https://packagecontrol.io/readmes/img/fbd92951a9feb72954f04eff621fa879248722e8.gif)

In it, when we save our code, the extension will give us the errors soon without compile. Wait for compiling is a little slower, specially when the project is big.

[2016-12-11 08:55] KalitaAlexey commented on #233
In RustyCode there is a parameter "checkOnSave". It solves what you want.

[2016-12-11 09:53] xialvjun commented on #233
Oh, yes, that's it. Sorry I didn't see it. And thanks.

[2016-12-11 11:48] KalitaAlexey commented on #233
If it is what you wanted, close the issue, please.

[2016-12-11 12:24] #233 closed

[2016-12-11 12:43] Timmmm opened #234 "Problems pane isn't shown by default"
It took me a while to realise that VSC can actually parse the output of `cargo build` and nicely show a list of errors. I think this list should be shown by default after a build.

I found for user-defined tasks there is a [`showOutput: "silent"` option](https://code.visualstudio.com/Docs/editor/tasks#_output-window-behavior) which looks like it should give the right behaviour, but unfortunately I

[2016-12-11 14:48] KalitaAlexey commented on #234
Hi @Timmmm,

Actually you cannot do this, because OutputChannel is created by a code and the code decides whether the OutputChannel should be shown.

[2016-12-11 17:14] Timmmm commented on #234
So how would one change RustyCode to show the problems pane? I tried searching for documentation about this but didn't find anything helpful, and using the developer tools in VSC doesn't seem to expose anything from the actual VSC APIs. :-/

[2016-12-11 18:10] KalitaAlexey commented on #234
Hi @Timmmm,

I've looked at the code.
An output channel is shown.
It means that I don't understand what you want to be shown.
Please attach screenshot with red arrow aimed to what you want to be shown.

Regards,
Alexey

[2016-12-11 19:34] W4RH4WK commented on #234
There is a dedicated pane to show errors and warnings. It is more useful when just dealing with errors and warnings, not caring about anything else.

Ctrl + Shift + M, or View > Problems

[2016-12-11 19:42] KalitaAlexey commented on #234
Hi @W4RH4WK,

I got it. Yes there is no API for this.

[2016-12-12 13:25] Timmmm commented on #234
This seems to be the relevant VSC issue:

https://github.com/Microsoft/vscode/issues/11399

[2016-12-12 14:46] KalitaAlexey commented on #234
Okay. Let's wait.

[2016-12-18 20:28] KalitaAlexey commented on #225
Hi @shumy, please check this problem with my extension. It is named Rust.

[2016-12-18 20:29] KalitaAlexey commented on #218
Hi @GTB3NW,

I have fixed your problem in my extension. It is named Rust.

[2016-12-19 00:16] CryZe commented on #210
Oh yeah, this needs a fix really soon, as the whole extension is broken with the latest Rust nightlies. Pinging @KalitaAlexey

[2016-12-19 00:20] vvuk commented on #210
Works for me in https://github.com/saviorisdead/RustyCode/pull/229 so perhaps one commit was missed.  I'll take a look and submit PRs when I get a chance, but better might be to just cherry pick everything from there.

[2016-12-19 07:23] shouya commented on #234
@Timmmm How did you get vscode to parse the output of `cargo build`? I didn't find a way to do this except parsing the result manually (https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher). Would you like to share your `task.json` or whatever that makes it work?

[2016-12-19 07:43] KalitaAlexey commented on #234
Hi @shouya,

How about https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-namediagnosticaspan-classcodeitem-id866diagnosticspan ?

[2016-12-19 07:56] shouya commented on #234
@KalitaAlexey This is cool and I see RustyCode is using that. However I didn't get it work for my rust project. To be simple, when I run "> Cargo: build debug", the output pane shows only the output from `carog build` and nothing appears in the problem pane.

[2016-12-19 08:00] shouya commented on #234
[code]

So I did the parsing manually by making a task. This task works fine but I still wonder if RustyCode can take this job.

[2016-12-19 08:03] KalitaAlexey commented on #234
It actually can. I will fix it later.

[2016-12-19 08:40] Timmmm commented on #234
I didn't use a task. RustyCode already works with the problems pane (more
or less; there are some formatting issues) but you have to set the "use new
output format" option in the settings to true (I can't rent the exact name)
and restart vscode.

On 19 Dec 2016 08:03, "Alexey" <notifications@github.com> wrote:

[2016-12-26 04:49] cissusnar opened #235 "terminate running task is not work"
task is still running, can't be terminated...

[2016-12-26 06:30] KalitaAlexey commented on #235
@cissusnar,

The main maintainer is unavailable.
There is a fork: https://github.com/KalitaAlexey/vscode-rust
You can open an issue in the fork.
Anyway currently this issue's description is almost empty.
Describe:
* What do you do
* What do you expect
* What do you get

[2017-01-04 07:51] kowr commented on #201
That helps, thanks!

[2017-01-04 13:44] Frederick888 commented on #235
@KalitaAlexey The maintainer had activities on GitHub two weeks ago. Maybe he's simply too busy and you could ask @saviorisdead to add you to the maintainer list.

[2017-01-04 15:27] KalitaAlexey commented on #235
@Frederick888,
I have written him several messages.
He didn't respond.
I wouldn't start a fork if he responds.

[2017-01-04 15:48] Frederick888 commented on #235
https://github.com/saviorisdead/RustyCode/issues/172#issuecomment-251605361
I 'member LOL... Thanks for your fork, @KalitaAlexey . Hope he could be back soon...

[2017-01-10 22:21] TedDriggs opened #238 "Function parameter help sometimes omits first parameter"
[code]
![screen shot 2017-01-10 at 2 20 03 pm](https://cloud.githubusercontent.com/assets/4805575/21827308/eefdcd00-d73f-11e6-8747-4469c39a68d6.png)

Notice that the bold section is the second parameter before the generic declaration and that `context` is missing completely.

![screen shot 2017-01-10 at 2 20 12 pm](https://cloud.githubusercontent.com/assets/4805575/21827307/eefba264-d73f-11e6-8ed0

[2017-01-12 09:07] KalitaAlexey commented on #238
@TedDriggs,
Hi.
Unfortunately this repository is deprecated because the maintainer doesn't respond.
I have made a fork: https://github.com/KalitaAlexey/vscode-rust
Please open an issue in the fork.

Please attach a minimal example reproducing the problem. To do that replace all your types with simple dummies.

[2017-01-18 18:31] radix opened #239 "Specify cargo features on a session-by-session basis?"
I realize that there's a user setting for specifying feature flags, but when I'm working on a library with features I often want to switch back and forth between testing with and without features. It'd be nice if there were a quick way to open up a features list and toggle them on and off.

[2017-01-18 18:55] KalitaAlexey commented on #239
@radix,
Check out my repo: https://github.com/KalitaAlexey/vscode-rust
I have a feature named "custom configurations".

[2017-01-19 17:16] radix commented on #239
@KalitaAlexey I'm a bit confused by that project. Is it a fork of RustyCode? Is RustyCode unmaintained or something? Why is the README nearly identical? It'd be nice to clarify the relationship of these two packages.

[2017-01-19 17:17] KalitaAlexey commented on #239
@radix,
Please look at https://github.com/KalitaAlexey/vscode-rust/issues/40

[2017-01-19 17:32] #239 closed

[2017-01-25 14:04] gcp commented on #177
Shouldn't the default be changed, given as rust stable shipped this?

[2017-01-25 14:08] CryZe commented on #177
This repository is not maintained at the moment which is why it's still the old one by default. You can use the "Rust" extension in the meantime, which is a maintained fork of this extension.

[2017-01-30 20:15] marmistrz commented on #234
Indeed, it already works with the problems view. Unfortunately, when I compile the project, the output pane appears, effectively hiding the problems view.

Is it possible to somehow disable switching to the output view?

[2017-01-30 20:26] KalitaAlexey commented on #234
@marmistrz,
Yes it is.
There is the "showOutput" configuration parameter.
Set is to false.

[2017-01-30 20:30] marmistrz commented on #234
@KalitaAlexey where is that? I searched settings.json but I can't find it. Neither in Cargo.toml or Cargo.lock

[2017-01-30 20:36] KalitaAlexey commented on #234
@marmistrz,
Are you using RustyCode?
There is no **rust.showOutput** in RustyCode.
Check out https://github.com/KalitaAlexey/vscode-rust

[2017-01-30 20:37] marmistrz commented on #234
Yes, I'm using Rusty Code by saviorisdead. I'll try your one :) Thanks!

[2017-01-31 18:12] xavier83 commented on #123
doesn't work anymore since currently example feature works like this

    [[example]]
    name = "window"
    path = "examples/01_window/main.rs"

[2017-01-31 18:56] W4RH4WK commented on #123
@xavier83 please have a look at <https://github.com/KalitaAlexey/vscode-rust> it's a fork of this repo since the original maintainer is no longer active.

[2017-01-31 19:15] KalitaAlexey commented on #123
@xavier83,
In vscode-rust I removed the ability to build the example which you are editing, but added custom configurations.
Please look at https://github.com/KalitaAlexey/vscode-rust/wiki/Configuration-Properties

[2017-02-02 07:01] xavier83 commented on #123
Oh cool.  Thanks.

[2017-02-02 07:48] KalitaAlexey commented on #123
@xavier83,
I have a gitter chat.
So if you have any questions you can ask there.

[2017-02-09 16:31] nambrot opened #240 "Auto-complete doesnt work?"
I just installed RustyCode with all the dependencies (`racer`, `rustfmt`, etc.) Added it the PATH.

However, I can't get the auto-complete to work. Am I missing an obvious configuration step?

[2017-02-09 16:37] KalitaAlexey commented on #240
Hi @nambrot,
This extension is no longer maintained.
Please look at https://github.com/KalitaAlexey/vscode-rust

[2017-02-09 16:37] KalitaAlexey commented on #240
@nambrot,
You can install it from marketplace. It's name "Rust".

[2017-02-09 16:47] nambrot commented on #240
Thanks @KalitaAlexey, opened an issue at https://github.com/KalitaAlexey/vscode-rust/issues/64

[2017-02-09 16:47] #240 closed

[2017-02-11 17:35] calebmer opened #241 "Don’t open output pane with checkOnSave"
Is there a way to make sure that the output pane does not open on every save when `checkOnSave` is true?

[2017-02-11 17:37] CryZe commented on #241
You install the "Rust" Extension instead, which is a maintained version of this extension. It has that as a setting:

[code]

[2017-02-11 17:43] calebmer commented on #241
Thanks. It looks like the documentation is out of date on that extension?

[2017-02-11 19:21] KalitaAlexey commented on #241
@calebmer,
On "Rust"?
Yes it is.
I am working on it.
https://github.com/KalitaAlexey/vscode-rust/pull/68

[2017-02-15 20:29] radix opened #242 "Deprecate this extension in favor of vscode-rust"
@saviorisdead since the project seems abandoned, it would be beneficial to the community to officially deprecate this extension and point towards vscode-rust instead. A lot of people still install RustyCode since it has a higher version number and higher download count, but vscode-rust is the only one that is actively maintained.

[2017-03-02 05:49] amilajack opened #243 "Installation instructions"
Would be nice if some installation instructions could be included :)

[2017-03-02 06:42] KalitaAlexey commented on #243
Hi @amilajack,
The repository is obsolete and unmaintainable.
Take a look at https://github.com/editor-rs/vscode-rust

[2017-03-02 07:02] amilajack commented on #243
@KalitaAlexey thanks! should I pr to add a deprecation notice to the readme?

[2017-03-02 07:02] #243 closed

[2017-03-02 07:07] KalitaAlexey commented on #243
@amilajack,
The maintainer will not respond.
I am sorry.

[2017-03-21 15:49] ghisvail commented on #242
That's the author of `vscode-rust` own fault though. The project was forked from `RustyCode`, so it should have just kept the current versioning going instead of resetting the count.

An acknowledgement from the upstream developer would be nice.

[2017-04-19 03:17] #238 closed

[2017-04-19 03:18] #181 closed

[2017-04-19 11:44] gentoo90 commented on #195
[RLS now available on nightly](http://www.jonathanturner.org/2017/04/rls-now-in-nightly.md.html)

[2017-04-19 13:12] KalitaAlexey commented on #195
This extension is no longer maintained. The continuation is https://github.com/editor-rs/vscode-rust

[2017-05-07 14:39] rofrol commented on #204
I needed to install src for specific rust version, e.g.

rustup component add rust-src --toolchain nightly-2017-04-16-x86_64-pc-windows-msvc

and then I got `~/.rustup/toolchains/nightly-2017-04-16-x86_64-pc-windows-msvc/lib/rustlib/src` sources.

[2017-05-23 06:52] imrek opened #244 "How long is it supposed to install?"
After 2 hours of installation time, it still hasn't run though the entire process.

[2017-05-23 07:23] W4RH4WK commented on #244
@imrek check out <https://marketplace.visualstudio.com/items?itemName=kalitaalexey.vscode-rust> as this repository is no longer maintained.

[2017-05-23 12:42] imrek commented on #244
I guess a deprecation notice would be helpful in this case to prevent other people from trying to install it.

[2017-05-23 14:39] W4RH4WK commented on #244
yes, sadly the author has gone inactive without any notification.

[2017-06-20 23:48] jcbritobr commented on #242
i think not for while. Threre are feature that this extension is not supporting like the outline.

[2017-07-01 10:27] wldevries commented on #242
https://github.com/editor-rs/vscode-rust

[2017-07-07 07:45] simbo1905 opened #245 "go to definition for standard library"
I installed everything from within Visual Studio Code (no manual installation elements) and code completion works great for the code in my project.

If I try to "go to definition" of something like `std::cmp::Ordering` it says "No definition found for Ordering".

Yet on the console within visual studio code if I type `racer complete std::cmp::Ordering` I get a MATCH showing `public enum Ordering`.

[2017-07-07 08:01] KalitaAlexey commented on #245
This extension is no longer maintained.
Please install https://github.com/editor-rs/vscode-rust

[2017-07-07 11:44] #245 closed

[2017-09-04 06:57] fabware commented on #132
Same thing here, switched to checkWith=build. Hope it fixed.

[2017-12-12 17:38] spacekookie opened #246 "Backslash in println {:?}"
When using the completion for `println!` it adds a backslash before the `{:?}` which means that the substitution doesn't work. Is this a bug everybody is having or just me?

 - VSCode version 1.18.1
 - RustyCode version 0.19.1

[2019-04-04 16:23] #186 closed